{% extends 'base.html.twig' %}

{% block body %}
    <h1>Azpiatala list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Kodea</th>
                <th>Izenburuaeu</th>
                <th>Izenburuaes</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for azpiatala in azpiatalas %}
            <tr>
                <td><a href="{{ path('admin_azpiatala_show', { 'id': azpiatala.id }) }}">{{ azpiatala.id }}</a></td>
                <td>{{ azpiatala.kodea }}</td>
                <td>{{ azpiatala.izenburuaeu }}</td>
                <td>{{ azpiatala.izenburuaes }}</td>
                <td>{% if azpiatala.createdAt %}{{ azpiatala.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if azpiatala.updatedAt %}{{ azpiatala.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_azpiatala_show', { 'id': azpiatala.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_azpiatala_edit', { 'id': azpiatala.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_azpiatala_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
