{% extends 'base.html.twig' %}

{% block body %}
    <h1>Azpiatala</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ azpiatala.id }}</td>
            </tr>
            <tr>
                <th>Kodea</th>
                <td>{{ azpiatala.kodea }}</td>
            </tr>
            <tr>
                <th>Izenburuaeu</th>
                <td>{{ azpiatala.izenburuaeu }}</td>
            </tr>
            <tr>
                <th>Izenburuaes</th>
                <td>{{ azpiatala.izenburuaes }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if azpiatala.createdAt %}{{ azpiatala.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if azpiatala.updatedAt %}{{ azpiatala.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_azpiatala_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_azpiatala_edit', { 'id': azpiatala.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
