{% extends 'base.html.twig' %}

{% block body %}
    <h1>Atala list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Kodea</th>
                <th>Izenburuaeu</th>
                <th>Izenburuaes</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for atala in atalas %}
            <tr>
                <td><a href="{{ path('admin_atala_show', { 'id': atala.id }) }}">{{ atala.id }}</a></td>
                <td>{{ atala.kodea }}</td>
                <td>{{ atala.izenburuaeu }}</td>
                <td>{{ atala.izenburuaes }}</td>
                <td>{% if atala.createdAt %}{{ atala.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if atala.updatedAt %}{{ atala.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_atala_show', { 'id': atala.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_atala_edit', { 'id': atala.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_atala_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
