{% extends 'base.html.twig' %}

{% block body %}
    <h1>Atala</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atala.id }}</td>
            </tr>
            <tr>
                <th>Kodea</th>
                <td>{{ atala.kodea }}</td>
            </tr>
            <tr>
                <th>Izenburuaeu</th>
                <td>{{ atala.izenburuaeu }}</td>
            </tr>
            <tr>
                <th>Izenburuaes</th>
                <td>{{ atala.izenburuaes }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if atala.createdAt %}{{ atala.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if atala.updatedAt %}{{ atala.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_atala_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_atala_edit', { 'id': atala.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
