{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/prism.css') }}" rel="stylesheet" media="screen">
    <style>
        .loading {
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, .8) url({{ asset('bundles/app/img/page-loader.gif') }}) 50% 50% no-repeat !important;
        }

        body.loading {
            overflow: hidden;
        }

        body.loading .modal {
            display: block;
        }

        .select2-container--bootstrap .select2-dropdown {
            margin-top: 18px !important;
        }
        .botoiaCollapse {
            cursor: pointer; cursor: hand;
        }
    </style>
{% endblock %}

{% block navright %}
    <ul class="nav navbar-nav navbar-right">
        {% if  app.request.locale == "eu" %}
            <li><a href="{{ path('admin_ordenantza_index') }}">Zerga zerrenda</a></li>
            <li><a href="{{ path('hizkuntza_aldatu') }}"><img src="{{ asset('bundles/app/img/espanol.png') }}"
                                                              alt="Castellano"> Castellano</a></li>
        {% else %}
            <li><a href="{{ path('admin_ordenantza_index') }}">Listado ordenanzas</a></li>
            <li><a href="{{ path('hizkuntza_aldatu') }}"><img src="{{ asset('bundles/app/img/euskara.png') }}"
                                                              alt="Euskaraz"> Euskara</a></li>
        {% endif %}
        <li>&nbspp;</li>
    </ul>
{% endblock %}

{% block body %}
    <div id="nireloader" class=""></div>
    <h1>{{ "Api kudeatzailea" | trans }}</h1>

    <div class="row">
        <p>Erabili ondoko formularioa beste leku batean erabiltzeko kodea eskuratzeko: Liferay, Hemendik, Wordpress,
            etc...</p>
        <p>Oharra: Wordpress-en kasurako beharrezkoa da Don’t Muck My Markup bezalako plugin bat instalatua izatea eta
            argitaratuko
            den orri horretarako gaitua izatea.</p>
    </div>

    <div class="row">&nbsp;</div>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Kostu Taulak</a>
            </li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Ordenantza</a>
            </li>
        </ul>


        <div class="tab-content"><!-- Tab panes -->

            <div role="tabpanel" class="tab-pane active" id="home"> <!-- tab Kostu Taulak -->
                <div class="row">
                    <div class="row">&nbsp;</div>
                    <div class="col-md-12 form-group">
                        <p>
                            <label for="cmbOrdenantza">{{ "Ordenantza" | trans }}</label>
                            <select name="cmbOrdenantza" id="cmbOrdenantza" style="width:100%"></select>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <p>
                            <label for="cmbAtala">{{ "Atala" | trans }}</label>
                            <select name="cmbAtala" id="cmbAtala" style="width:100%"></select>
                        </p>
                    </div>

                </div>
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <p>
                            <label for="cmbKontzeptua">{{ "zerga" | trans }}</label>
                            <select name="cmbKontzeptua" id="cmbKontzeptua" style="width:100%"></select>
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="btn-group">
                        <label class="checkbox-inline"><input type="checkbox" id="chkCollapse" name="chkCollapsable" value="{{ "Multzokatzea" | trans }}"> {{ "Multzokatzea" | trans }}</label>
                    </div>
                    <div class="row">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="btn-group" role="group" aria-label="...">
                        <button id="btnEuskera" type="button" class="btn btn-default">Euskeraz</button>
                        <button id="btnErdara" type="button" class="btn btn-default">Erdaraz</button>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div id="divResult" class="row" style="display: none;">
                    <pre id="nireKodea" class="copytoclipboard">
                        <code id="result" class="language-html">
                        </code>
                    </pre>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div id="emaitza" class="row">
                </div>
            </div><!-- Tab Kostu Taulak-->

            <div role="tabpanel" class="tab-pane" id="profile"><!-- Tab Ordenantza -->
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="btn-group" role="group" aria-label="...">
                        <button id="btnOrdenantzaEuskera" type="button" class="btn btn-default">Euskeraz</button>
                        <button id="btnOrdenantzaErdara" type="button" class="btn btn-default">Erdaraz</button>
                    </div>
                </div>
                <div id="divApiOrdenantza" class="row">

                    <pre>
                        <code id="ordenatzaEuskeraz" class="language-html" style="display: none;">
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;style type="text/css"&gt;.aui .RWD .journal-content-article ul&gt;li:before, .aui .RWD .portlet-blogs .entry-body ul&gt;li:before {
content:none !important;
}
ul#ulzzoo {
   margin-left:14px !important;
}
&lt;/style&gt;
&lt;ul id="ulzzoo"&gt;
&lt;/ul&gt;

&lt;div class="modal fade" id="nireModal" role="dialog" tabindex="-1"&gt;
&lt;div class="modal-dialog modal-lg" role="document"&gt;
&lt;div class="modal-content"&gt;
&lt;div class="modal-header"&gt;&lt;button aria-label="Close" class="close" data-dismiss="modal" type="button"&gt;&lt;span aria-hidden="true"&gt;×&lt;/span&gt;&lt;/button&gt;

&lt;h4 class="modal-title" id="modalTitle"&gt;&amp;nbsp;&lt;/h4&gt;
&lt;/div&gt;

&lt;div class="modal-body" id="modalContent"&gt;&amp;nbsp;&lt;/div&gt;

&lt;div class="modal-footer"&gt;&lt;button class="btn btn-primary" data-dismiss="modal" type="button"&gt;Itxi&lt;/button&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!-- /.modal-content --&gt;&lt;/div&gt;
&lt;!-- /.modal-dialog --&gt;&lt;!-- /.modal --&gt;
&lt;script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;


$(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip()
        var items = [];
        var url = "http://www.pasaia.eus/zzoo/api/ordenantzakbykodea/{{ udala.kodea }}.json";

        var bootstrap_enabled = (typeof $().modal == 'function');
        $('body').on('click', 'a.btntaula', function () {

            var miid = $(this).data('id');
            var url = "http://www.pasaia.eus/zzoo/api/zerga/" + miid + ".json";
            var nModal = $('#nireModal');
            $('#modalContent').empty();
            $.getJSON(url, function(data) {

                $('#modalTitle').html(data.izenburuaeu_prod);
                $('#modalContent').html("&lt;table id='kostuTaula' class='table table-bordered table-hover'&gt;&lt;/table&gt;");

                var kontzeptuak = data.kontzeptuak;

                $.each( kontzeptuak, function( i, item ) {
                    var baldintza = item.baldintza;

                    if (!baldintza) {
                        var $tr = $('&lt;tr&gt;').append(
                            $('&lt;td&gt;').text(item.kontzeptuaeu_prod),
                            $('&lt;td&gt;').text(item.kopurua_prod),
                            $('&lt;td&gt;').text(item.unitatea_prod)
                        ).appendTo('#kostuTaula');
                    } else {
                        var $tr = $('&lt;tr&gt;').append(
                            $('&lt;td&gt;').text(item.kontzeptuaeu_prod + '(' + baldintza.baldintzaeu + ')'),
                            $('&lt;td&gt;').text(item.kopurua_prod),
                            $('&lt;td&gt;').text(item.unitatea_prod + '(' + baldintza.baldintzaeu + ')')
                        ).appendTo('#kostuTaula');
                    }

                });

            });

            $('#nireModal').modal()

            //$("#modalButton").click();


        });

        $.getJSON(url, function(data) {
            $.each( data, function( i, ordenantza ) {

                items.push('&lt;li class="kaixoiker"&gt;&lt;a data-toggle="tooltip" data-container="body" data-placement="top" title="Egin klik hemen ordenantzaren textua ikusteko" target="_blank"  href="http://www.pasaia.eus/zzoo/ordenantza/' + ordenantza.id + '"&gt;' + ordenantza.kodea_prod + ' - ' + ordenantza.izenburuaeu_prod      +'&lt;/a&gt;&lt;/li&gt;');
                var atalak = ordenantza.atalak;
                $.each( atalak, function( i1, atala ) {
                    if (atala.izenburuaeu_prod !== ""){
                        if ( ( 'kodea_prod' in atala ) &amp;&amp; ( 'izenburuaeu_prod' in atala ) ) {
                            items.push(
                                '&lt;li&gt;&lt;ul class="nirul"&gt;&lt;li class="nireli"&gt;&lt;a target="_blank"  href="http://www.pasaia.eus/zzoo/ordenantza/' + ordenantza.id   + '#' + ordenantza.id + '-' + atala.id +'"&gt;' + atala.kodea_prod + ' - ' +  atala.izenburuaeu_prod +'&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;'
                            );
                        }
                    }

                    var azpiatalak = atala.azpiatalak;
                    $.each( azpiatalak, function( i2, azpiatala ) {

                        items.push(
                            '&lt;li&gt;&lt;ul class="barneul" style="padding-left: 20px !important;"&gt;' +
                            '   &lt;li class="aupahi" style="list-style:none;"&gt;' +
                            '       &lt;ul class="besteul" &gt;' +
                            '           &lt;li class="barnebane"&gt;' +
                            '               &lt;a class="btntaula"   data-toggle="tooltip" data-container="body"  data-placement="top" title="Egin klik hemen kostu taula ikusteko" data-id="'+azpiatala.id+'" href="javascript:void(0);"&gt;' + azpiatala.kodea_prod + ' ' + azpiatala.izenburuaeu_prod +'&lt;/a&gt;' +
                            '           &lt;/li&gt;' +
                            '       &lt;/ul&gt;' +
                            '   &lt;/li&gt;' +
                            '&lt;/ul&gt;&lt;/li&gt;'
                        );
                    });

                });

            });
            $('#ulzzoo').append( items.join('') );
  $('[data-toggle="tooltip"]').tooltip();
        });

    });

&lt;/script&gt;
                        </code>
                        <code id="ordenatzaErderaz" class="language-html" style="display: none;">
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;style type="text/css"&gt;.aui .RWD .journal-content-article ul&gt;li:before, .aui .RWD .portlet-blogs .entry-body ul&gt;li:before {
content:none !important;
}
ul#ulzzoo {
   margin-left:14px !important;
}
&lt;/style&gt;
&lt;ul id="ulzzoo"&gt;
&lt;/ul&gt;

&lt;div class="modal fade" id="nireModal" role="dialog" tabindex="-1"&gt;
&lt;div class="modal-dialog modal-lg" role="document"&gt;
&lt;div class="modal-content"&gt;
&lt;div class="modal-header"&gt;&lt;button aria-label="Close" class="close" data-dismiss="modal" type="button"&gt;&lt;span aria-hidden="true"&gt;×&lt;/span&gt;&lt;/button&gt;

&lt;h4 class="modal-title" id="modalTitle"&gt;&amp;nbsp;&lt;/h4&gt;
&lt;/div&gt;

&lt;div class="modal-body" id="modalContent"&gt;&amp;nbsp;&lt;/div&gt;

&lt;div class="modal-footer"&gt;&lt;button class="btn btn-primary" data-dismiss="modal" type="button"&gt;Cerrar&lt;/button&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!-- /.modal-content --&gt;&lt;/div&gt;
&lt;!-- /.modal-dialog --&gt;&lt;!-- /.modal --&gt;
&lt;script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;


$(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip()
        var items = [];
        var url = "http://www.pasaia.eus/zzoo/api/ordenantzakbykodea/{{ udala.kodea }}.json";

        var bootstrap_enabled = (typeof $().modal == 'function');
        $('body').on('click', 'a.btntaula', function () {

            var miid = $(this).data('id');
            var url = "http://www.pasaia.eus/zzoo/api/zerga/" + miid + ".json";
            var nModal = $('#nireModal');
            $('#modalContent').empty();
            $.getJSON(url, function(data) {

                $('#modalTitle').html(data.izenburuaes_prod);
                $('#modalContent').html("&lt;table id='kostuTaula' class='table table-bordered table-hover'&gt;&lt;/table&gt;");

                var kontzeptuak = data.kontzeptuak;

                $.each( kontzeptuak, function( i, item ) {
                    var baldintza = item.baldintza;

                    if (!baldintza) {
                        var $tr = $('&lt;tr&gt;').append(
                            $('&lt;td&gt;').text(item.kontzeptuaes_prod),
                            $('&lt;td&gt;').text(item.kopurua_prod),
                            $('&lt;td&gt;').text(item.unitatea_prod)
                        ).appendTo('#kostuTaula');
                    } else {
                        var $tr = $('&lt;tr&gt;').append(
                            $('&lt;td&gt;').text(item.kontzeptuaes_prod + '(' + baldintza.baldintzaes + ')'),
                            $('&lt;td&gt;').text(item.kopurua_prod),
                            $('&lt;td&gt;').text(item.unitatea_prod + '(' + baldintza.baldintzaes + ')')
                        ).appendTo('#kostuTaula');
                    }

                });

            });

            $('#nireModal').modal()

            //$("#modalButton").click();


        });

        $.getJSON(url, function(data) {
            $.each( data, function( i, ordenantza ) {

                items.push('&lt;li class="kaixoiker"&gt;&lt;a data-toggle="tooltip" data-container="body" data-placement="top" title="Egin klik hemen ordenantzaren textua ikusteko" target="_blank"  href="http://www.pasaia.eus/zzoo/ordenantza/' + ordenantza.id + '"&gt;' + ordenantza.kodea_prod + ' - ' + ordenantza.izenburuaes_prod      +'&lt;/a&gt;&lt;/li&gt;');
                var atalak = ordenantza.atalak;
                $.each( atalak, function( i1, atala ) {
                    if (atala.izenburuaes_prod !== ""){
                        if ( ( 'kodea_prod' in atala ) &amp;&amp; ( 'izenburuaes_prod' in atala ) ) {
                            items.push(
                                '&lt;li&gt;&lt;ul class="nirul"&gt;&lt;li class="nireli"&gt;&lt;a target="_blank"  href="http://www.pasaia.eus/zzoo/ordenantza/' + ordenantza.id   + '#' + ordenantza.id + '-' + atala.id +'"&gt;' + atala.kodea_prod + ' - ' +  atala.izenburuaes_prod +'&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;'
                            );
                        }
                    }

                    var azpiatalak = atala.azpiatalak;
                    $.each( azpiatalak, function( i2, azpiatala ) {

                        items.push(
                            '&lt;li&gt;&lt;ul class="barneul" style="padding-left: 20px !important;"&gt;' +
                            '   &lt;li class="aupahi" style="list-style:none;"&gt;' +
                            '       &lt;ul class="besteul" &gt;' +
                            '           &lt;li class="barnebane"&gt;' +
                            '               &lt;a class="btntaula"   data-toggle="tooltip" data-container="body"  data-placement="top" title="Egin klik hemen kostu taula ikusteko" data-id="'+azpiatala.id+'" href="javascript:void(0);"&gt;' + azpiatala.kodea_prod + ' ' + azpiatala.izenburuaes_prod +'&lt;/a&gt;' +
                            '           &lt;/li&gt;' +
                            '       &lt;/ul&gt;' +
                            '   &lt;/li&gt;' +
                            '&lt;/ul&gt;&lt;/li&gt;'
                        );
                    });

                });

            });
            $('#ulzzoo').append( items.join('') );
  $('[data-toggle="tooltip"]').tooltip();
        });

    });

&lt;/script&gt;
                        </code>
                    </pre>

                </div>
            </div><!-- Tab Ordenatza -->

        </div><!-- Tab panes -->

    </div>





{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/clipboard.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/prism.js') }}"></script>
    <script type="text/javascript">

        document.write('<style type="text/css">div.cp_oculta{display: none;}</style>');
        function MostrarOcultar(capa,enlace)
        {
            if (document.getElementById)
            {
                var aux = document.getElementById(capa).style;
                aux.display = aux.display? "":"block";
            }
        }

        $(function () {
            //kargatu ordenantzak API bidez
            $('#nireloader').addClass('loading');
            var param = "{{ zzoo_aplikazioaren_API_url }}";
            // **************************************************
            // **************************************************
            // DEBUG ONLY!!!
            // param = "http://zzoo.dev/app_dev.php/api";
            // **************************************************
            // **************************************************
            var udala = "{{ udala.kodea }}";
            var url = param + "/ordenantzakbykodea/" + udala + ".json";
            var locale = "{{ app.request.getLocale() }}";

            // Ordenantzak
            var jqxhr = $.getJSON(url, function (result) {
                if (locale === "es") {
                    $("#cmbOrdenantza").append($("<option></option>").attr("value", -1).text("Selecciona"));
                } else {
                    $("#cmbOrdenantza").append($("<option></option>").attr("value", -1).text("Aukeratu"));
                }
                $.each(result, function (i, field) {
                    if (locale === "es") {
                        $("#cmbOrdenantza").append($("<option></option>").attr("value", field.id).text(field.kodea_prod + " - " + field.izenburuaes_prod));
                    } else {
                        $("#cmbOrdenantza").append($("<option></option>").attr("value", field.id).text(field.kodea_prod + " - " + field.izenburuaeu_prod));
                    }
                });
            });

            jqxhr.complete(function () {
                $('#nireloader').removeClass('loading');
            });

            // Atalak
            $('#cmbOrdenantza').on('click', function () {
                $('#nireloader').addClass('loading');
                var ordenantzaid = $(this).val();
                var url = param + "/tributuak/" + ordenantzaid + ".json";
                var jqxhr = $.getJSON(url, function (result) {
                    $("#cmbAtala").empty();
                    if (locale === "es") {
                        $("#cmbAtala").append($("<option></option>").attr("value", -1).text("Selecciona"));
                    } else {
                        $("#cmbAtala").append($("<option></option>").attr("value", -1).text("Aukeratu"));
                    }

                    if (result.length === 0) {
                        return;
                    }

                    var atalak = result;

                    $.each(atalak, function (i, field) {
                        if (locale === "es") {
                            var txt = "";
                            if (field.izenburuaes_prod.length > 200) {
                                txt = field.kodea_prod + " - " + field.izenburuaes_prod.substr(0, 200);
                            } else {
                                txt = field.kodea_prod + " - " + field.izenburuaes_prod;
                            }
                            $("#cmbAtala").append($("<option></option>").attr("value", field.id).text(txt));
                        } else {
                            var txt = "";
                            if (field.izenburuaes_prod.length > 200) {
                                txt = field.kodea_prod + " - " + field.izenburuaeu_prod.substr(0, 200);
                            } else {
                                txt = field.kodea_prod + " - " + field.izenburuaeu_prod;
                            }
                            $("#cmbAtala").append($("<option></option>").attr("value", field.id).text(txt));
                        }
                    });
                });

                jqxhr.complete(function () {
                    $('#nireloader').removeClass('loading');
                });
            });

            // Kontzeptua
            $('#cmbAtala').on('change', function () {

                $('#nireloader').addClass('loading');
                var atalaid = $(this).val();
                var url = param + "/zergak/" + atalaid + ".json";

                var jqxhr = $.getJSON(url, function (result2) {
                    $("#cmbKontzeptua").empty();
                    if (locale === "es") {
                        $("#cmbKontzeptua").append($("<option></option>").attr("value", -1).text("Selecciona"));
                    } else {
                        $("#cmbKontzeptua").append($("<option></option>").attr("value", -1).text("Aukeratu"));
                    }

                    if (result2.length === 0) {
                        return;
                    }

                    var azpiatalak = result2;

                    $.each(azpiatalak, function (i, field2) {

                        if (locale === "es") {
                            var txt = "";
                            if (field2.izenburuaes_prod.length > 200) {
                                txt = field2.kodea_prod + " - " + (field2.izenburuaes_prod.substr(0, 200)).replace("<br>", "");
                            } else {
                                txt = field2.kodea_prod + " - " + (field2.izenburuaes_prod).replace("<br>", "");
                            }
                            var sartu = $("<option></option>").attr("value", field2.id).attr("data-eu", field2.izenburuaeu_prod).attr("data-es", field2.izenburuaes_prod).text(txt);
                            $("#cmbKontzeptua").append(sartu);
                        } else {
                            var txt = "";
                            if (field2.izenburuaeu_prod.length > 200) {
                                txt = field2.kodea_prod + " - " + (field2.izenburuaeu_prod.substr(0, 200)).replace("<br>", "");
                            } else {
                                txt = field2.kodea_prod + " - " + (field2.izenburuaeu_prod).replace("<br>", "");
                            }
                            var sartu = $("<option></option>").attr("value", field2.id).attr("data-eu", field2.izenburuaeu_prod).attr("data-es", field2.izenburuaes_prod).text(txt);
                            $("#cmbKontzeptua").append(sartu);
                        }
                    });
                });

                jqxhr.complete(function () {
                    $('#nireloader').removeClass('loading');
                });

            });

            $('#btnEuskera').on('click', function () {
                var miid = $('#cmbKontzeptua').val();
                var mitext = $('select[name=cmbKontzeptua] option:selected').data("eu");
                $('#result').empty();
                $('#result').append(ekarriHtml('eu', miid, mitext));
                Prism.highlightElement($('#result')[0]);
                $('#divResult').show("slow");
                eginAdibidea('eu', miid, mitext);
            });

            $('#btnErdara').on('click', function () {
                var miid = $('#cmbKontzeptua').val();
                var mitext = $('select[name=cmbKontzeptua] option:selected').data("es");
                $('#result').empty();
                $('#result').append(ekarriHtml('es', miid, mitext));
                Prism.highlightElement($('#result')[0]);
                $('#divResult').show("slow");
                eginAdibidea('es', miid, mitext);
            });

            $('#btnOrdenantzaEuskera').on('click', function () {
                $('#ordenatzaErderaz').hide();
                $('#ordenatzaEuskeraz').show();
            });
            $('#btnOrdenantzaErdara').on('click', function () {
                $('#ordenatzaEuskeraz').hide();
                $('#ordenatzaErderaz').show();
            });
        });


        function eginAdibidea($locale, $id, $mitext) {
            $('#emaitza').empty();
            var url = "http://www.pasaia.eus/zzoo/api/zerga/" + $id + ".json";
            // **************************************************
            // **************************************************
            // DEBUG ONLY!!!
            // var url = "http://zzoo.dev/app_dev.php/api/zerga/" + $id + ".json";
            // **************************************************
            // **************************************************
            var colap =0;
            if($("#chkCollapse").is(':checked')) {
                colap = 1;
            }

            if ($locale === "eu") {
                var btnEzkutu = "";
                var divEzkutu ="";

                if ( colap === 1) {
                    btnEzkutu = `onClick="javascript:MostrarOcultar('text_eus');" class="botoiaCollapse"`;
                    divEzkutu = `class="cp_oculta cp_oculta`+ $id + `" id="text_eus"`;
                }

                var textua = `<h3 ` + btnEzkutu + `>` + $mitext + `</h3>
                                <div ` + divEzkutu + `>
                                    <table class="table table-bordered table-condensed" id="kostuTaula">
                                    <thead>
                                        <tr>
                                            <th>Deskribapena</th>
                                            <th>Kopurua</th>
                                            <th>Unitatea</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>`;
                $('#emaitza').append(textua);

                $.getJSON(url, function (data) {
                    var kontzeptuak = data.kontzeptuak;
                    $.each(kontzeptuak, function (i, item) {

                        if ("baldintza" in item) {
                            var td1 = (item.kontzeptuaeu_prod + " (" + item.baldintza.baldintzaeu + ")").replace("<br>", "");
                        } else {
                            var td1 = (item.kontzeptuaeu_prod ).replace("<br>", "");
                        }

                        var td2 = (item.kopurua_prod).replace("<br>", "");
                        var td3 = (item.unitatea_prod).replace("<br>", "");

                        var $tr = $('<tr>').append(
                            $('<td>').text(td1),
                            $('<td>').text(td2),
                            $('<td>').text(td3)
                        ).appendTo('#kostuTaula');
                    });


                });
            } else {

                var btnEzkutu = "";
                var divEzkutu ="";

                if ( colap === 1) {
                    btnEzkutu = `onClick="javascript:MostrarOcultar('text_es');" class="botoiaCollapse"`;
                    divEzkutu = `class="cp_oculta cp_oculta` + $id +`" id="text_es"`;
                }

                var textua = `<h3 ` + btnEzkutu + `>` + $mitext + `</h3>
                                <div ` + divEzkutu + `>
                                    <table class="table table-bordered table-condensed" id="kostuTaula">
                                    <thead>
                                        <tr>
                                            <th>Descripción</th>
                                            <th>Cantidad</th>
                                            <th>Unidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>`;

                $('#emaitza').append(textua);

                $.getJSON(url, function (data) {
                    var kontzeptuak = data.kontzeptuak;
                    $.each(kontzeptuak, function (i, item) {
                        if ("baldintza" in item) {
                            var td1 = (item.kontzeptuaes_prod + " (" + item.baldintza.baldintzaes + ")").replace("<br>", "");
                        } else {
                            var td1 = (item.kontzeptuaeu_prod ).replace("<br>", "");
                        }
                        var td2 = (item.kopurua_prod).replace("<br>", "");
                        var td3 = (item.unitatea_prod).replace("<br>", "");

                        var $tr = $('<tr>').append(
                            $('<td>').text(td1),
                            $('<td>').text(td2),
                            $('<td>').text(td3)
                        ).appendTo('#kostuTaula');
                    });

                });
            }
        }

        function ekarriHtml($locale, $apId, mitext) {
            var colap =0;
            if($("#chkCollapse").is(':checked')) {
                colap = 1;
            }

            var nireH3 = "&#x3C;h3 id=&#x22;nireH3" + $apId + "&#x22; &#x3E;&#x3C;/h3&#x3E;";
            var nireDiv = "&#x3C;div&#x3E;";
            var nireDesk = "Deskribapena";
            var nireKop = "Kopurua";
            var nireUni = "Salneurria";
            var nireKontzep = "kontzeptuaeu_prod";
            var nireBaldin = "baldintzaeu";
            var nireIzen = "izenburuaeu_prod";

            if ( $locale === "es") {
                nireDesk = "Descripci&#xF3;n";
                nireKop = "Cantidad";
                nireUni = "Unidad";
                nireKontzep = "kontzeptuaes_prod";
                nireBaldin = "baldintzaes";
                nireIzen = "izenburuaes_prod";
            }

            if ( colap === 1 ) {
                if ( $locale === "eu" ) {
                    nireH3 = "&#x3C;h3 id=&#x22;nireH3" + $apId + "&#x22; onclick=&#x22;javascript:MostrarOcultar(&#x27;text_eus" + $apId + "&#x27;);&#x22; class=&#x22;botoiaCollapse&#x22;&#x3E;&#x3C;/h3&#x3E;";
                    nireDiv = "&#x3C;div class=&#x22;cp_oculta" + $apId + "&#x22; id=&#x22;text_eus" + $apId + "&#x22; style=&#x22;display: block;&#x22;&#x3E;";
                } else {
                    nireH3 = "&#x3C;h3 id=&#x22;nireH3" + $apId + "&#x22; onclick=&#x22;javascript:MostrarOcultar(&#x27;text_es" + $apId + "&#x27;);&#x22; class=&#x22;botoiaCollapse&#x22;&#x3E;&#x3C;/h3&#x3E;";
                    nireDiv = "&#x3C;div class=&#x22;cp_oculta" + $apId + "&#x22; id=&#x22;text_es" + $apId + "&#x22; style=&#x22;display: block;&#x22;&#x3E;";
                }
            }

            var miHtml =`
` + nireH3 + `
` + nireDiv + `
&#x9;&#x3C;table class=&#x22;table table-bordered table-condensed&#x22; id=&#x22;kostuTaula` + $apId +`&#x22;&#x3E;
&#x9;&#x9;&#x3C;thead&#x3E;
&#x9;&#x9;&#x9;&#x3C;tr&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;th&#x3E;` + nireDesk + `&#x3C;/th&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;th&#x3E;` + nireKop + `&#x3C;/th&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;th&#x3E;` + nireUni +`&#x3C;/th&#x3E;
&#x9;&#x9;&#x9;&#x3C;/tr&#x3E;
&#x9;&#x9;&#x3C;/thead&#x3E;
&#x9;&#x9;&#x3C;tbody&#x3E;
&#x9;&#x9;&#x9;&#x3C;tr&#x3E;
&#x9;&#x9;&#x9;&#x3C;/tr&#x3E;
&#x9;&#x9;&#x3C;/tbody&#x3E;
&#x9;&#x3C;/table&#x3E;
&#x3C;/div&#x3E;

&#x3C;script src=&#x22;https://code.jquery.com/jquery-1.12.4.min.js&#x22; integrity=&#x22;sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=&#x22; crossorigin=&#x22;anonymous&#x22;&#x3E;&#x3C;/script&#x3E;
&#x3C;script language=&#x22;javascript&#x22;&#x3E;
&#x9;$(document).ready(function() {
&#x9;&#x9;$(&#x27;.cp_oculta` + $apId + `&#x27;).css(&#x27;display&#x27;,&#x27;none&#x27;);
&#x9;&#x9;var url = &#x22;http://www.pasaia.eus/zzoo/api/zerga/` + $apId + `.json&#x22;;
&#x9;&#x9;$.getJSON(url, function(data) {
&#x9;&#x9;$(&#x27;#nireH3` + $apId + `&#x27;).text ((data.` + nireIzen + `).replace(&#x22;&#x3C;br&#x3E;&#x22;,&#x22;&#x22;).replace(&#x22;&#x26;nbsp;&#x22;,&#x22; &#x22;));
&#x9;&#x9;&#x9;var kontzeptuak = data.kontzeptuak;
&#x9;&#x9;&#x9;$.each(kontzeptuak, function(i, item) {
&#x9;&#x9;&#x9;&#x9;if (&#x22;baldintza&#x22; in item) {
&#x9;&#x9;&#x9;&#x9;&#x9;var td1 = (item.` + nireKontzep + ` + &#x22; (&#x22; + item.baldintza.` + nireBaldin +` + &#x22;)&#x22;).replace(&#x22;&#x3C;br&#x3E;&#x22;, &#x22;&#x22;);
&#x9;&#x9;&#x9;&#x9;} else {
&#x9;&#x9;&#x9;&#x9;&#x9;var td1 = (item.` + nireKontzep + `).replace(&#x22;&#x3C;br&#x3E;&#x22;, &#x22;&#x22;);
&#x9;&#x9;&#x9;&#x9;}
&#x9;&#x9;&#x9;&#x9;var td2 = (item.kopurua_prod).replace(&#x22;&#x3C;br&#x3E;&#x22;, &#x22;&#x22;);
&#x9;&#x9;&#x9;&#x9;var td3 = (item.unitatea_prod).replace(&#x22;&#x3C;br&#x3E;&#x22;, &#x22;&#x22;);
&#x9;&#x9;&#x9;&#x9;var $tr = $(&#x27;&#x3C;tr&#x3E;&#x27;).append(
&#x9;&#x9;&#x9;&#x9;&#x9;$(&#x27;&#x3C;td&#x3E;&#x27;).text(td1),
&#x9;&#x9;&#x9;&#x9;&#x9;$(&#x27;&#x3C;td&#x3E;&#x27;).text(td2),
&#x9;&#x9;&#x9;&#x9;&#x9;$(&#x27;&#x3C;td&#x3E;&#x27;).text(td3)
&#x9;&#x9;&#x9;&#x9;).appendTo(&#x27;#kostuTaula` + $apId + `&#x27;);
&#x9;&#x9;&#x9;});
&#x9;&#x9;});
&#x9;});

function MostrarOcultar(capa, enlace) {
  $(&#x27;#&#x27;+capa).toggle();
}

&#x3C;/script&#x3E;
`;
            return miHtml;

        }

    </script>
    <script>
        /* Prism copy to clipbaord for all pre with copytoclipboard class */
        $('pre.copytoclipboard').each(function () {
            $this = $(this);
            $button = $('<button>{{ "Kopiatu" | trans }}</button>');
            $this.wrap('<div/>').removeClass('copytoclipboard');
            $wrapper = $this.parent();
            $wrapper.addClass('copytoclipboard-wrapper').css({position: 'relative'})
            $button.css({position: 'absolute', top: 10, right: 10}).appendTo($wrapper).addClass('copytoclipboard btn btn-default');
            /* */
            var copyCode = new Clipboard('button.copytoclipboard', {
                target: function (trigger) {
                    return trigger.previousElementSibling;
                }
            });
            copyCode.on('success', function (event) {
                event.clearSelection();
                event.trigger.textContent = '{{ "Kopiatua!" | trans }}';
                window.setTimeout(function () {
                    event.trigger.textContent = '{{ "Kopiatu" | trans }}';
                }, 2000);
            });
            copyCode.on('error', function (event) {
                event.trigger.textContent = '{{ "Erabili Ctrl + C kopiatzeko" | trans }}';
                window.setTimeout(function () {
                    event.trigger.textContent = '{{ "Kopiatu" | trans }}';
                }, 2000);
            });
        });
    </script>

{% endblock %}