<!DOCTYPE html>
<html>
<head>

    <title>Zerga Ordenantzak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/app/css/backend.css') }}" rel="stylesheet" media="screen">
    {#<link href="{{ asset('bundles/app/css/bootstrap-wysihtml5-0.0.2.css') }}"  rel="stylesheet" href="">#}

    <link href="{{ asset('bundles/app/css/bootstrap-editable.css') }}" rel="stylesheet" href="">
    <link href="{{ asset('bundles/app/css/3/bootstrap-wysihtml5-0.0.3.css') }}" rel="stylesheet" href="">
    <link href="{{ asset('bundles/app/css/calendar/bootstrap-datepicker3.min.css') }}" rel="stylesheet" href="">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <style>
        /* Make inline editables take the full width of their parents */
        .editable-container.editable-inline,
        .editable-container.editable-inline .control-group.form-group,
        .editable-container.editable-inline .control-group.form-group .editable-input,
        .editable-container.editable-inline .control-group.form-group .editable-input textarea,
        .editable-container.editable-inline .control-group.form-group .editable-input select,
        .editable-container.editable-inline .control-group.form-group .editable-input input:not([type=radio]):not([type=checkbox]):not([type=submit])
        {
            width: 100%;
        }

        .editable-click, a.editable-click, a.editable-click:hover {
            border-bottom:none !important;
        }
        .marginBottom-0 {margin-bottom:0;}


    </style>
</head>

<body  data-spy="scroll" data-target="#navbar-example">

<div id="navbar-example">
    <nav class="navbar navbar-inverse navbar-fixed-top marginBottom-0" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{% block zerganame %}Zerga Ordenantzak {% endblock %}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% block nav %}
                {% endblock %}
            </ul>
            {% block navright %}

            {% endblock %}

        </div><!-- /.navbar-collapse -->
    </nav>

</div>

<div class="container">
    {% block body %}{% endblock %}
</div> <!-- /container -->

{% block javascripts %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap-editable.js') }}"></script>

    <script src="{{ asset('bundles/app/js/3/wysihtml5-0.3.0.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/3/bootstrap-wysihtml5-0.0.3.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/3/wysihtml5-0.0.3.js') }}"></script>
    <script src="{{ asset('bundles/app/js/calendar/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/calendar/bootstrap-datepicker.es.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/calendar/bootstrap-datepicker.eu.min.js') }}"></script>


    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script>
        var body = $('body');
        body.scrollspy({
            'target': '#nav',
            'offset': 100 //this must match the window.scrollY below or you'll have a bad time mmkay
        });

        $(window).on("hashchange", function () {
            window.scrollTo(window.scrollX, window.scrollY - 100);
        });

        $(document).ready(function(){
            $('.js-datepicker').datepicker({
                format: 'yyyy/mm/dd',
                todayBtn: "linked",
                language: "eu",
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>

    <script>
//        (function($){
//            $(document).ready(function(){
//                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
//                    event.preventDefault();
//                    event.stopPropagation();
//                    $(this).parent().siblings().removeClass('open');
//                    $(this).parent().toggleClass('open');
//                });
//                $('body').scrollspy({ target: '#navbar-example' })
//            });
//        })(jQuery);
    </script>

{% endblock %}
</body>
</html>