{% extends 'base.html.twig' %}
    {% block hasieraesteka %}
                <a class="navbar-brand" href="{{ path('frontend_ordenantza_index', { 'udala': udala }) }}">{% block zerganame %}Zerga Ordenantzak <small></small>{% endblock %}</a>
    {% endblock %}
{% block navright %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('frontend_historikoa_index', { 'udala': udala}) }}">{{ "Historikoa kontsultatu" | trans }}</a></li>
        <li><a href="{{ path('frontend_ordenantza_pdf', { 'udala': udala}) }}" target="_blank" class="fa fa-file-pdf-o" >
                {#{% if app.request.locale == 'eu'%}Pdf (eu)#}
                {#{% else %}Pdf (es)#}
                {#{% endif %}#}
            PDF
            </a></li>

        <li class="list-inline"><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">ES</a></li>
        <li class="list-inline"><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'eu'}))}}">EU</a></li>
        <li class="list-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    </ul>
{% endblock %}


{% block body %}
    <div class="containermenua">
        {% for ordenantza in ordenantzas %}

            <a href="{{ path('frontend_ordenantza_show', {'id': ordenantza.id,'udala': udala}) }}" class="menuordenantza">
                <ul class="list-inline">
                    <li class="litext">
                        {% if  app.request.locale == "eu"%}
                            {{ ordenantza.kodeaProd }} - {{ ordenantza.izenburuaeuProd |raw|escape }}
                        {% else %}
                            {{ ordenantza.kodeaProd }} - {{ ordenantza.izenburuaesProd |raw|escape }}
                        {% endif %}
                    </li>
                    <li class="pull-right">
                        <span class="btnsubmenu glyphicon glyphicon-plus" data-divazpiatalak="{{ loop.index }}" data-ordenantzaid="{{ ordenantza.id }}"></span>
                    </li>
                </ul>
            </a>

            <div class="subAzpiatalak{{ loop.index }}" style="display: none;">
                <ul class="nav nav-pills nav-stacked">
                {#<div class="list-group">#}
                    {% for atala in ordenantza.atalak %}
                        {% if  app.request.locale == "eu"%}
                            {% if atala.izenburuaeuProd %}<li><span class="label label-primary">{{ atala.ordenantza.kodeaProd }}.{{ atala.kodeaProd }}.-{{ atala.izenburuaeuProd }}</span></li>{% endif %}
                        {% else %}
                            {% if atala.izenburuaesProd %}<li><span class="label label-primary">{{ atala.ordenantza.kodeaProd }}.{{ atala.kodeaProd }}.-{{ atala.izenburuaesProd }}</span></li>{% endif %}
                        {% endif %}
                        {% for azpiatala in atala.azpiatalak %}
                            <li role="presentation" class="liSubMenu"><a href="#" data-toggle="modal" data-target="#myModal{{ azpiatala.id }}">
                                    {% if  app.request.locale == "eu"%}
                                        {{ azpiatala.kodeaProd }}.-{{ azpiatala.izenburuaeuProd }}
                                    {% else %}
                                        {{ azpiatala.kodeaProd }}.-{{ azpiatala.izenburuaesProd }}
                                    {% endif %}
                                </a></li>
                            {#<a class="list-group-item" href="#" data-toggle="modal" data-target="#myModal{{ azpiatala.id }}">{{ azpiatala.izenburuaeu }}</a>#}
                                <div class="modal fade" id="myModal{{ azpiatala.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    {% if  app.request.locale == "eu"%}
                                                        {{ azpiatala.kodeaProd }}.-{{ azpiatala.izenburuaeuProd }}
                                                    {% else %}
                                                        {{ azpiatala.kodeaProd }}.-{{ azpiatala.izenburuaesProd }}
                                                    {% endif %}
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-bordered table-condensed table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>{{ "Kontzeptua" | trans }}</th>
                                                        <th>{{ "Kopurua" | trans }}</th>
                                                        <th>{{ "Unitatea" |trans }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for k in azpiatala.kontzeptuak %}
                                                        <tr>
                                                            <td>
                                                                {% if  app.request.locale == "eu"%}
                                                                {{ k.kontzeptuaeuProd }}
                                                                {% else %}
                                                                {{ k.kontzeptuaesProd }}
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ k.kopuruaProd }}</td>
                                                            <td>{{ k.unitateaProd }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ "Itxi" | trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                        {% endfor %}

                    {% endfor %}
                    {#</div>#}
                </ul>
            </div>

        {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ajaxStart(function(){
            $('#loading').show();
        }).ajaxStop(function(){
            $('#loading').hide();
        });

        $(document).ready(function () {

            $('.btnsubmenu').on("click", function (e) {
                e.preventDefault();
                var index = $(this).data('divazpiatalak');
                var divSub = ".subAzpiatalak" + index;
                $(divSub).toggle( "slow" );
                if ( $(this).hasClass('glyphicon-minus')==true ) {
                    $(this).removeClass('glyphicon-minus');
                    $(this).addClass('glyphicon-plus')
                } else {
                    $(this).removeClass('glyphicon-plus');
                    $(this).addClass('glyphicon-minus')
                }

            });
        });
    </script>
{% endblock %}