{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "Historikoa" | trans }}</h1>

    <table class="table table-striped table-striped table-hover">
        <thead>
            <tr>
                <th>{{ "Onartze data" | trans}}</th>
                <th>{{ "G.A.O. Argitaratze Data" | trans }}</th>
                <th>{{ "Aldaketak" | trans }}</th>
                <th>{{ "Fitxategia"| trans }}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for historikoa in historikoas %}
            <tr>
                <td>{% if historikoa.onartzedata %}{{ historikoa.onartzedata|date('Y/m/d') }}{% endif %}</td>
                <td>{% if historikoa.bogargitaratzedata %}{{ historikoa.bogargitaratzedata|date('Y/m/d') }}{% endif %}</td>
                <td>{{ historikoa.aldaketakeu |raw}}</td>
                <td><a href="{{ "/doc/" ~ app.user.udala.kodea ~ "/" ~ historikoa.fitxategia }}">PDF</a></td>
                <td><a class="btn btn-primary" href="{{ path('admin_historikoa_edit', {'id':historikoa.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                <td><form action="{{ path('admin_historikoa_delete', { 'id': historikoa.id }) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        {{ form_widget(deleteForms[historikoa.id]) }}
                        <button type="submit" class="btn btn-danger btn-small" onclick='return confirm("Seguru?")'>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </form></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {% if historikoas is not empty %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'routeName': 'admin_historikoa_paginated'}) }}
            {% endif %}
        {% else %}
            <p>Ez da emaitzarik topatu</p>
        {% endif %}
    </div>
{% endblock %}
