{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historiko berria</h1>

    {{ form_start(form) }}

    <div class="row">
        <div class="form-group  field-text col-sm-3">
            {{ form_label(form.onartzedata, 'Udalbatzarrararen data'|trans, { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(form.onartzedata) }}
            {{ form_widget(form.onartzedata, {'attr': {'class': 'form-control js-datepicker'}}) }}
        </div>

        <div class="form-group field-text col-sm-3">
            {{ form_label(form.bogargitaratzedata, ' GAO: Hasierako onarpena'|trans, { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(form.bogargitaratzedata) }}
            {{ form_widget(form.bogargitaratzedata, {'attr': {'class': 'form-control js-datepicker'}}) }}
        </div>

        <div class="form-group field-text col-sm-3">
            {{ form_label(form.bogbehinbetikodata, ' GAO: Behin betiko onarpena'|trans, { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(form.bogbehinbetikodata) }}
            {{ form_widget(form.bogbehinbetikodata, {'attr': {'class': 'form-control js-datepicker'}}) }}
        </div>

        <div class="form-group field-text col-sm-3">
            {{ form_label(form.indarreandata, ' Indarreko data'|trans, { 'label_attr': {'class': 'control-label'} }) }}
            {{ form_errors(form.indarreandata) }}
            {{ form_widget(form.indarreandata, {'attr': {'class': 'form-control js-datepicker'}}) }}
        </div>

    </div>

    <div class="form-group  field-text">
        {{ form_label(form.bogestekaeu, 'B.O.G. esteka eskaraz', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_errors(form.bogestekaeu) }}
        {{ form_widget(form.bogestekaeu, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group  field-text">
        {{ form_label(form.bogestekaes, 'B.O.G. esteka erdaraz', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_errors(form.bogestekaes) }}
        {{ form_widget(form.bogestekaes, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group  field-text">
        {{ form_label(form.aldaketakeu, 'Aldaketak euskaraz', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_errors(form.aldaketakeu) }}
        {{ form_widget(form.aldaketakeu, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group  field-text">
        {{ form_label(form.aldaketakes, 'Aldaketak erdaraz', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_errors(form.aldaketakes) }}
        {{ form_widget(form.aldaketakes, {'attr': {'class': 'form-control'}}) }}
    </div>

    <ul class="list-inline">
        <li>
            <input class="btn btn-primary" type="submit" value="{{ "Gorde" | trans }}" />
        </li>
        <li>
            <a href="{{ path('admin_historikoa_index') }}">Itzuli zerrendara</a>
        </li>
    </ul>


    {{ form_end(form) }}


{% endblock %}

