{% extends 'base.html.twig' %}


{% block navright %}
    <ul class="nav navbar-nav navbar-right">
        {#<li><a href="{{ path('exportatu', {'id': ordenantza.id}) }}"> Exportatu <span class="sr-only">(current)</span></a></li>#}
        <li><a href="#">{{ app.request.locale }}</a></li>
        {% if  app.request.locale == "eu"%}
            <li><a href="{{ path('hizkuntza_aldatu', {'_locale':'es'}) }}"><img src="{{ asset('bundles/app/img/espanol.png') }}" alt="Castellano"> Castellano</a></li>
        {% else %}
            <li><a href="{{ path('hizkuntza_aldatu', {'_locale':'eu'}) }}"><img src="{{ asset('bundles/app/img/euskara.png') }}" alt="Euskaraz"> Euskara</a></li>
        {% endif %}
        <li>&nbspp;</li>
    </ul>
{% endblock %}

{% block body %}
    <div class="containermenua">
        {% for ordenantza in ordenantzas %}

            <a href="{{ path('admin_ordenantza_show', {'id': ordenantza.id}) }}" class="menuordenantza">
                <ul class="list-inline">
                    <li class="litext">
                        {% if  app.request.locale == "eu "%}
                            {{ ordenantza.kodea }} - {{ ordenantza.izenburuaeu |raw|escape }}
                        {% else %}
                            {{ ordenantza.kodea }} - {{ ordenantza.izenburuaes |raw|escape }}
                        {% endif %}
                    </li>
                    <li class="pull-right">
                        <span class="btnsubmenu glyphicon glyphicon-euro" data-ordenantzaid="{{ ordenantza.id }}"></span>
                    </li>
                </ul>
            </a>

            <div id="divSubmenu"></div>

        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ajaxStart(function(){
            $('#loading').show();
        }).ajaxStop(function(){
            $('#loading').hide();
        });

        $(document).ready(function () {

            $('.btnsubmenu').on("click", function (e) {
                e.preventDefault();
                $('#divSubmenu').empty();
                var miid = $(this).data('atalaid');
                var url = Routing.generate('admin_atalaparrafoa_new', {ordenantzaid: miid});
                $('#divSubmenu').load(url);
                $('#divSubmenu').modal('toggle');
            });
        });
    </script>
{% endblock %}