{% extends 'base.html.twig' %}


{% block navright %}
    <ul class="nav navbar-nav navbar-right">
        {#<li><a href="{{ path('exportatu', {'id': ordenantza.id}) }}"> Exportatu <span class="sr-only">(current)</span></a></li>#}
        <li><a href="{{ path('admin_ordenantza_export_pdf') }}"> {{ "Indarrean jarri" | trans }} <span class="sr-only">(current)</span></a></li>
        {% if  app.request.locale == "eu"%}
            <li><a href="{{ path('admin_historikoa_index') }}">Historikoa ikusi</a></li>
            <li>&nbsp;</li>
            <li><a href="{{ path('admin_ordenantza_new') }}">Ordenantza Berria</a></li>
            <li><a href="{{ path('hizkuntza_aldatu') }}"><img src="{{ asset('bundles/app/img/espanol.png') }}" alt="Castellano"> Castellano</a></li>
        {% else %}
            <li><a href="{{ path('admin_historikoa_index') }}">Consulta del Historico</a></li>
            <li>&nbsp;</li>
            <li><a href="{{ path('admin_ordenantza_new') }}">Nueva Ordenanza</a></li>
            <li><a href="{{ path('hizkuntza_aldatu') }}"><img src="{{ asset('bundles/app/img/euskara.png') }}" alt="Euskaraz"> Euskara</a></li>
        {% endif %}
        {#<li>&nbsp;</li>#}

        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('users_index') }}" class="fa fa-bars"> Erabiltzaileak</a></li>
                <li><a href="{{ path('udala_index') }}" class="fa fa-university"> Udalak</a></li>
            </ul>
        </li>
        {#<li><a href="#" >Proba</a></li>#}
        <li>&nbsp;</li>
    </ul>
{% endblock %}

{% block body %}
    <div class="containermenua">
        {% for ordenantza in ordenantzas %}

            <a href="{{ path('admin_ordenantza_show', {'id': ordenantza.id}) }}" class="menuordenantza">
                <ul class="list-inline">
                    <li class="litext">
                        {% if  app.request.locale == "eu"%}
                            {{ ordenantza.kodea }} - {{ ordenantza.izenburuaeu |raw|escape }}
                        {% else %}
                            {{ ordenantza.kodea }} - {{ ordenantza.izenburuaes |raw|escape }}
                        {% endif %}
                    </li>
                    <li class="pull-right">
                        <span class="btnsubmenu glyphicon glyphicon-plus" data-divazpiatalak="{{ loop.index }}" data-ordenantzaid="{{ ordenantza.id }}"></span>
                    </li>
                </ul>
            </a>

            <div class="subAzpiatalak{{ loop.index }}" style="display: none;">
                <ul class="nav nav-pills nav-stacked">
                {#<div class="list-group">#}
                    {% for atala in ordenantza.atalak %}
                        <li><span class="label label-primary">
                                {% if  app.request.locale == "eu"%}
                                    {{ atala.ordenantza.kodea }}-{{ atala.kodea }}.{{ atala.izenburuaeu }}
                                {% else %}
                                    {{ atala.ordenantza.kodea }}-{{ atala.kodea }}.{{ atala.izenburuaes }}
                                {% endif %}
                            </span></li>
                        {% for azpiatala in atala.azpiatalak %}

                            <li role="presentation" class="liSubMenu"><a href="#" data-toggle="modal" data-target="#myModal{{ azpiatala.id }}">
                                    {% if  app.request.locale == "eu"%}
                                        {{ azpiatala.kodea }}.{{ azpiatala.izenburuaeu }}
                                    {% else %}
                                        {{ azpiatala.kodea }}.{{ azpiatala.izenburuaes }}
                                    {% endif %}
                            </a></li>
                            {#<a class="list-group-item" href="#" data-toggle="modal" data-target="#myModal{{ azpiatala.id }}">{{ azpiatala.izenburuaeu }}</a>#}
                                <div class="modal fade" id="myModal{{ azpiatala.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    {% if  app.request.locale == "eu"%}
                                                        {{ azpiatala.kodea }}.{{ azpiatala.izenburuaeu }}
                                                    {% else %}
                                                        {{ azpiatala.kodea }}.{{ azpiatala.izenburuaes }}
                                                    {% endif %}
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-bordered table-condensed table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>{{ "Kontzeptua" | trans }}</th>
                                                        <th>{{ "Kopurua" | trans }}</th>
                                                        <th>{{ "Unitatea" |trans }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for k in azpiatala.kontzeptuak %}
                                                        <tr>
                                                            <td>{% if  app.request.locale == "eu"%}
                                                                    {{ k.kontzeptuaeu }}
                                                                {% else %}
                                                                    {{ k.kontzeptuaes }}
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ k.kopurua }}</td>
                                                            <td>{{ k.unitatea }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ "Itxi" | trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    {% endfor %}
                    {#</div>#}
                </ul>
            </div>

        {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ajaxStart(function(){
            $('#loading').show();
        }).ajaxStop(function(){
            $('#loading').hide();
        });

        $(document).ready(function () {

            $('.btnsubmenu').on("click", function (e) {
                e.preventDefault();
                var index = $(this).data('divazpiatalak');
                var divSub = ".subAzpiatalak" + index;
                $(divSub).toggle( "slow" );
                if ( $(this).hasClass('glyphicon-minus')==true ) {
                    $(this).removeClass('glyphicon-minus');
                    $(this).addClass('glyphicon-plus')
                } else {
                    $(this).removeClass('glyphicon-plus');
                    $(this).addClass('glyphicon-minus')
                }

            });
        });
    </script>
{% endblock %}