{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordenantza list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Kodea</th>
                <th>Izenburuaeu</th>
                <th>Izenburuaes</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordenantza in ordenantzas %}
            <tr>
                <td><a href="{{ path('admin_ordenantza_show', { 'id': ordenantza.id }) }}">{{ ordenantza.id }}</a></td>
                <td>{{ ordenantza.kodea }}</td>
                <td>{{ ordenantza.izenburuaeu }}</td>
                <td>{{ ordenantza.izenburuaes }}</td>
                <td>{% if ordenantza.createdAt %}{{ ordenantza.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if ordenantza.updatedAt %}{{ ordenantza.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_ordenantza_show', { 'id': ordenantza.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_ordenantza_edit', { 'id': ordenantza.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_ordenantza_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
