<div style="margin: auto;">

    <img src="{{ udala.logoa }}" alt="Pasaiako Udala logoa"/>
    <h3 style="text-align:center">{{ udala.izendapenaeu }}</h3>

</div>

{% for ordenantza in ordenantzas %}

    <h2 style="text-align: left">{{ ordenantza.kodea ~ ".-" ~ ordenantza.izenburuaeu }}</h2>

    {% for p in ordenantza.parrafoak if p.ezabatu != 1 %}
        <p style="text-align: left">{{ p.testuaeu | replace({'<br>': '', '<span>':'', '</span>':'', '&nbsp;':' '}) | raw }}</p>
    {% endfor %}

    {% for atala in ordenantza.atalak if atala.ezabatu!= 1 %}
        {% if atala.utsa != 1 %}
            <h3 style="text-align: left">{{ atala.ordenantza.kodea }}.{{ atala.kodea }}.- {{ atala.izenburuaeu }}</h3>

            {% for p in atala.parrafoak  if p.ezabatu!= 1 %}
                <p style="text-align: left">{{ p.testuaeu | replace({'<br>': '', '<span>':'', '</span>':'', '&nbsp;':' '}) | raw }}</p>
            {% endfor %}

        {% endif %}

        {% for azpiatala in atala.azpiatalak  if azpiatala.ezabatu!= 1 %}
            <p style="text-align: left">{{ azpiatala.kodea | replace({'<br>': ''}) }}
                - {{ azpiatala.izenburuaeu | replace({'<br>': '', '<span>':'', '</span>':'', '&nbsp;':' '}) }}</p>

            {% for p in azpiatala.parrafoak  if p.ezabatu!= 1 %}
                {{ p.testuaeu | replace({'<br>': '', '<span>':'', '</span>':'', '&nbsp;':' '}) | raw }}
            {% endfor %}

            <table width="80%" cellpadding="4" cellspacing="0" style="border: 1px solid black;border-collapse: collapse;">
                {% for k in azpiatala.kontzeptuak  if k.ezabatu!= 1 %}
                    <tr style="border: 1px solid black;">
                        <td width="75%" style="padding: 0 0.2cm 0.2cm;border: 1px solid black;">
                            <p style="text-align: left">{{ k.kontzeptuaeu }}
                                &nbsp;{% if k.baldintza %} ( {{ k.baldintza.baldintzaeu | replace({'<br>': '', '<span>':'', '</span>':'', '&nbsp;':' '})  }} ){% endif %}</p>
                        </td>
                        <td width="25%" style="padding: 0 0.2cm 0.2cm;border: 1px solid black;">
                            <p style="text-align: right">{{ k.kopurua }} {{ k.unitatea }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% for p in azpiatala.parrafoakondoren  if p.ezabatu!= 1 %}
                {{ p.testuaeu | replace({'<br>': '', '<span>':'', '</span>':'', '&nbsp;':' '}) | raw }}
            {% endfor %}

        {% endfor %}
    {% endfor %}

{% endfor %}
