
<table  border="0"  cellpadding="8" cellspacing="3">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th align="center" style="background-color: #C6C6C6"><h2>{{ ordenantza.kodea|raw ~ ".-" ~ ordenantza.izenburuaeu|raw }}</h2></th>
            <th align="center" style="background-color: #C0C0C0"><h2>{{ ordenantza.kodea|raw ~ ".-" ~ ordenantza.izenburuaes|raw }}</h2></th>
        </tr>
        {% for p in ordenantza.parrafoak if p.ezabatu != 1 %}
        <tr>
            <td align="justify">{{ p.testuaeu | raw }}</td>
            <td align="justify">{{ p.testuaes | raw }}</td>
        </tr>
        {% endfor %}
        {% for atala in ordenantza.atalak if atala.ezabatu!= 1 %}
        {% if atala.utsa != 1 %}
            <tr>
                <td><h3 align="center" style="background-color: #E5E5E5">{{ atala.ordenantza.kodea|raw }}.{{ atala.kodea|raw }}.- {{ atala.izenburuaeu|raw }}</h3></td>
                <td><h3 align="center" style="background-color: #E5E5E5">{{ atala.ordenantza.kodea|raw }}.{{ atala.kodea|raw }}.- {{ atala.izenburuaes|raw }}</h3></td>
            </tr>
            {% for p in atala.parrafoak  if p.ezabatu!= 1 %}
                <tr>
                    <td align="justify">{{ p.testuaeu | raw }}</td>
                    <td align="justify">{{ p.testuaes | raw }}</td>
                </tr>
            {% endfor %}
        {% endif %}

        {% for azpiatala in atala.azpiatalak  if azpiatala.ezabatu!= 1 %}
            <tr>
                <td colspan="2" align="center">
                    <div style="margin: auto; width: 80%">
                        <table border="1" cellpadding="2">
                            <thead>
                            <tr>
                                <th colspan="3" style="width:50%;background-color: #f2f2f2;font-size: small;"><h4>{{ azpiatala.atala.ordenantza.kodea|raw }}.{{ azpiatala.atala.kodea|raw }}.{{ azpiatala.kodea|raw }} - {{ azpiatala.izenburuaeu|raw }}</h4></th>
                                <th colspan="3" style="width:50%;background-color: #f2f2f2;font-size: small;"><h4>{{ azpiatala.atala.ordenantza.kodea|raw }}.{{ azpiatala.atala.kodea|raw }}.{{ azpiatala.kodea|raw }} - {{ azpiatala.izenburuaes|raw }}</h4></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in azpiatala.parrafoak  if p.ezabatu!= 1 %}
                                <tr>
                                    <td colspan="3" align="justify" style="font-size: small;">{{ p.testuaeu | raw }}</td>
                                    <td colspan="3" align="justify" style="font-size: small;">{{ p.testuaes | raw }}</td>
                                </tr>
                            {% endfor %}
                            {% for k in azpiatala.kontzeptuak  if k.ezabatu!= 1 %}
                                <tr>
                                    <td width="42%" colspan="2" style="font-size: small;">{{ k.kontzeptuaeu }}{% if k.baldintza %} ( {{ k.baldintza.baldintzaeu|raw }} ){% endif %}</td>
                                    <td width="16%" colspan="2" style="font-size: small;">{{ k.kopurua|raw }}
                                        {{ k.unitatea|raw }}</td>
                                    <td width="42%" colspan="2" style="font-size: small;">{{ k.kontzeptuaes }}{% if k.baldintza %} ( {{ k.baldintza.baldintzaeu|raw }} ){% endif %}</td>
                                </tr>
                            {% endfor %}
                            {% for p in azpiatala.parrafoakondoren  if p.ezabatu!= 1 %}
                                <tr>
                                    <td colspan="3" align="justify" style="font-size: small;">{{ p.testuaeu | raw }}</td>
                                    <td colspan="3" align="justify" style="font-size: small;">{{ p.testuaes | raw }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>