
<table  border="0"  cellpadding="4">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{ ordenantza.kodea ~ " " ~ ordenantza.izenburuaeu }}</th>
            <th>{{ ordenantza.kodea ~ " " ~ ordenantza.izenburuaes }}</th>
        </tr>
        {% for p in ordenantza.parrafoak if p.ezabatu != 1 %}
        <tr>
            <td>{{ p.testuaeu | raw }}</td>
            <td>{{ p.testuaes | raw }}</td>
        </tr>
    {% endfor %}

        {% for atala in ordenantza.atalak if atala.ezabatu!= 1 %}
        {% if atala.utsa != 1 %}
            <tr>
                <td><h2>{{ atala.kodea }} - {{ atala.izenburuaeu }}</h2></td>
                <td><h2>{{ atala.kodea }} - {{ atala.izenburuaes }}</h2></td>
            </tr>

            {% for p in atala.parrafoak  if p.ezabatu!= 1 %}
                <tr>
                    <td>{{ p.testuaeu | raw }}</td>
                    <td>{{ p.testuaes | raw }}</td>
                </tr>
            {% endfor %}
        {% endif %}

        {% for azpiatala in atala.azpiatalak  if azpiatala.ezabatu!= 1 %}
            <tr>
                <td colspan="2" align="center">
                    <div style="margin: auto; width: 80%">
                        <table border="1">
                            <thead>
                            <tr>
                                <th style="width:40%;">{{ azpiatala.kodea }} - {{ azpiatala.izenburuaeu }}</th>
                                <th style="width:10%;">&nbsp;</th>
                                <th style="width:10%;">&nbsp;</th>
                                <th style="width:40%;">{{ azpiatala.kodea }} - {{ azpiatala.izenburuaes }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in azpiatala.parrafoak  if p.ezabatu!= 1 %}
                                <tr>
                                    <td colspan="2">{{ p.testuaeu | raw }}</td>
                                    <td colspan="2">{{ p.testuaes | raw }}</td>
                                </tr>
                            {% endfor %}
                            {% for k in azpiatala.kontzeptuak  if k.ezabatu!= 1 %}
                                <tr>
                                    <td width="40%">{{ k.kontzeptuaeu }}</td>
                                    <td width="10%">{{ k.kopurua }}</td>
                                    <td width="10%">{{ k.unitatea }}</td>
                                    <td width="40%">{{ k.kontzeptuaes }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>

        {% endfor %}

    {% endfor %}
    </tbody>
</table>