{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-6">
            <h4>{{ ordenantza.izenburuaeu }}</h4>
        </div>
        <div class="col-md-6">
            <h4>{{ ordenantza.izenburuaes }}</h4>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    {% for p in ordenantza.parraforak %}
        <div class="row row{{ loop.index }}">
            <div class="col-md-6">
                <div id="note" data-pk="1" data-type="wysihtml5"  data-title="Enter notes" data-placement="right" class="editable" tabindex="-1" style="display: block;">
                    {{ p.testuaeu | raw  }}
                </div>
            </div>
            <div class="col-md-6">
                <p>{{ p.testuaes | raw  }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="row">&nbsp;</div>

    {% for atala in ordenantza.atalak %}
        {% if atala.utsa != 1 %}
            <div class="row row{{ loop.index }}">
                <div class="col-md-6">
                    <p>{{ atala.kodea ~ " - " ~ atala.getIzenburuaeu  }}</p>
                </div>
                <div class="col-md-6">
                    <p>{{ atala.kodea ~ " - " ~ atala.getIzenburuaes  }}</p>
                </div>
            </div>

            {% for p in atala.parrafoak %}
                <div class="row row{{ loop.parent.loop.index }} row{{ loop.index }}">
                    <div class="col-md-6">
                        <p>{{ p.testuaeu | raw }}</p>
                    </div>
                    <div class="col-md-6">
                        <p>{{ p.testuaes | raw }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {# Naiz eta Atalik ez izan, azpiatalak izan ditzake. Atala utsa=1 delarik:#}

        {% for azpiatala in atala.azpiatalak %}
            {% for p in azpiatala.parrafoak %}
                <div class="row row{{ loop.parent.loop.index }} row{{ loop.index }}">
                    <div class="col-md-6">
                        <p>{{ p.testuaeu | raw }}</p>
                    </div>
                    <div class="col-md-6">
                        <p>{{ p.testuaes | raw }}</p>
                    </div>
                </div>
            {% endfor %}

            <table class="table table-hover table-responsive table-bordered table-striped">
                <th>{{ azpiatala.kodea ~ " - " ~ azpiatala.getIzenburuaeu }}</th>
                <th></th>
                <th>{{ azpiatala.kodea ~ " - " ~ azpiatala.getIzenburuaes  }}</th>

                {#<div class="row row{{ loop.parent.loop.index }} row{{ loop.index }}">#}
                    {#<div class="col-md-6">#}
                        {#<p>{{ azpiatala.kodea ~ " - " ~ azpiatala.getIzenburuaeu }}</p>#}
                    {#</div>#}
                    {#<div class="col-md-6">#}
                        {#<p>{{ azpiatala.kodea ~ " - " ~ azpiatala.getIzenburuaes  }}</p>#}
                    {#</div>#}
                {#</div>#}

                <tbody>
                    {% for k in azpiatala.kontzeptuak %}
                        <tr>
                            <td>{{ k.kontzeptuaeu }}</td>
                            <td>{{ k.kopurua }}&nbsp;{{ k.unitatea }}</td>
                            <td>{{ k.kontzeptuaes }}</td>
                        </tr>
                    {% endfor %}

                    {#{% for k in azpiatala.kontzeptuak %}#}
                        {#<div class="row row{{ loop.parent.loop.index }} row{{ loop.index }}">#}
                            {#<div class="col-md-4">#}
                                {#<p>{{ k.kodea ~ " - " ~ k.kontzeptuaeu }}</p>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<p>{{ k.kopurua ~ " " ~ k.unitatea }}</p>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<p>{{ k.kodea ~ " - " ~ k.kontzeptuaeu  }}</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endfor %}#}
                </tbody>
            </table>
        {% endfor %}

    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $.fn.editable.defaults.mode = 'inline';
        $(document).ready(function() {


            $('#note').editable({
                url: '/post',
                title: 'Enter comments',
                showbuttons: 'top',
                onblur: 'ignore',
                wysihtml5: {
                    "image": false,
                    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                    "emphasis": true, //Italics, bold, etc. Default true
                    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                    "html": false, //Button which allows you to edit the generated HTML. Default false
                    "link": false, //Button to insert a link. Default true
                },
            });

        });
    </script>


{% endblock %}