{% extends 'base.html.twig' %}

{% block nav %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ ordenantza.izenburuaeu | capitalize }} <b
                    class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for atala in ordenantza.atalak  if atala.ezabatu != 1 %}
                {% if atala.utsa != 1 and atala.azpiatalak | length >0 %}
                    <li class="dropdown dropdown-submenu ">
                        <a href="#{{ atala.kodea }}" class="dropdown-toggle" data-toggle="dropdown" data-clicked="false" onclick="clickMe(this);"  >{{ atala.kodea }} - {{ atala.izenburuaeu|capitalize }}</a>
                        <ul class="dropdown-menu">
                            {% for azpiatala in atala.azpiatalak  if azpiatala.ezabatu != 1 %}
                                <li>
                                    <a href="#{{ atala.kodea ~ azpiatala.kodea }}"  onclick="clickMe(this);">{{ azpiatala.kodea }} - {{ azpiatala.izenburuaeu|capitalize }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                {% else %}
                    <li>
                        <a href="#{{ atala.kodea }}" onclick="clickMe(this);">{{ atala.kodea }} - {{ atala.izenburuaeu|capitalize }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block navright %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('admin_ordenantza_edit', {'id': ordenantza.id}) }}">Edizio modua aktibatu</a></li>
        <li><a href="{{ path('admin_ordenantza_show_pdf', {'id': ordenantza.id}) }}"> PDF <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ path('admin_ordenantza_export_pdf', {'id': ordenantza.id}) }}"> {{ "Indarrean jarri" }} <span class="sr-only">(current)</span></a></li>
        <li>&nbspp;</li>
    </ul>
{% endblock %}

{% block body %}
    <div class="row">&nbsp;</div>

    <div class="row ordenantza">
        <div class="col-xs-6">
            <h4>
                <span>{{ ordenantza.kodea ~ " " ~ ordenantza.izenburuaeu }}</span>
            </h4>
        </div>
        <div class="col-xs-6">
            <h4>
                <span>{{ ordenantza.kodea ~ " " ~ ordenantza.izenburuaes }}</span>
            </h4>
        </div>
    </div>
    <div class="row">&nbsp;</div>

    {% for p in ordenantza.parrafoak if p.ezabatu != 1 %}
        <div class="row ordenantzaparrafoa">
            <div class="col-xs-6">
                    <span>{{ p.testuaeu | raw }}</span>
            </div>
            <div class="col-xs-6">
                    <span>{{ p.testuaes | raw }}</span>
            </div>
        </div>
    {% endfor %}

    <div class="row">&nbsp;</div>

        {% for atala in ordenantza.atalak if atala.ezabatu!= 1 %}
        {% if atala.utsa != 1 %}
            <div class="row atala">
                <div class="col-xs-6">
                    <h3 class="row-fluid col-md-12" id="{{ atala.kodea }}">
                        <span>
                            {{ atala.kodea }}
                        </span>
                        <span class="col-md-1 text-left">-</span>
                        <span>
                            {{ atala.izenburuaeu }}
                        </span>
                    </h3>
                </div>
                <div class="col-xs-6">
                    <h3 class="row-fluid col-md-12">
                        <span>
                            {{ atala.kodea }}
                        </span>
                        <span class="col-md-1 text-left">-</span>
                        <span>
                            {{ atala.izenburuaes }}
                        </span>
                    </h3>
                </div>
            </div>

            {% for p in atala.parrafoak  if p.ezabatu!= 1 %}
                <div class="row atalaparrafoa">
                    <div class="divEditable col-xs-6">
                            <span>{{ p.testuaeu | raw }}</span>

                    </div>
                    <div class="divEditable col-xs-6">
                            <span >{{ p.testuaes | raw }}</span>

                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {# Naiz eta Atalik ez izan, azpiatalak izan ditzake. Atala utsa=1 delarik:#}
            <div class="row">&nbsp;</div>

        {% for azpiatala in atala.azpiatalak  if azpiatala.ezabatu!= 1 %}
            <table class="table table-hover table-responsive table-bordered">
                <th class="row-fluid col-xs-6" id="{{ atala.kodea ~ azpiatala.kodea }}">
                    <h4 class="row-fluid col-md-12">
                        <span>
                            {{ azpiatala.kodea }}
                        </span>
                        <span class="col-md-1 text-left">-</span>
                        <span>
                            {{ azpiatala.izenburuaeu }}
                        </span>
                    </h4>
                </th>
                <th></th>
                <th></th>
                <th class="row-fluid col-xs-6">
                    <h4 class="row-fluid col-md-12">
                        <span >
                            {{ azpiatala.kodea }}
                        </span>
                        <span class="col-md-1 text-left">-</span>
                        <span >
                            {{ azpiatala.izenburuaes }}
                        </span>
                    </h4>
                </th>
                <tbody>
                <tr>
                    <td colspan="4">
                        {% for p in azpiatala.parrafoak  if p.ezabatu!= 1 %}
                            <div class="row azpiatala">
                                <div class="divEditable col-xs-6">
                                    <div class="divEditableazpiatalaparrafoa">
                                        <span>{{ p.testuaeu | raw }}</span>
                                    </div>
                                </div>
                                <div class="divEditable col-xs-6">
                                    <div class="divEditableazpiatalaparrafoa">
                                        <span>{{ p.testuaes | raw }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </td>
                </tr>

                {% for k in azpiatala.kontzeptuak  if k.ezabatu!= 1 %}
                    <tr>
                        <td class="col-md-4">
                            <div >
                                    <span>{{ k.kontzeptuaeu }} {% if k.baldintza.baldintzaeu is defined %}( {{ k.baldintza.baldintzaeu }} ){% endif %}</span>

                            </div>
                        </td>
                        <td>
                                <span>{{ k.kopurua }}</span>

                        <td>

                                <span>{{ k.unitatea }}</span>

                        </td>
                        <td class="col-md-5">
                            <div>

                                    <span>{{ k.kontzeptuaes }} {% if k.baldintza.baldintzaes is defined %}( {{ k.baldintza.baldintzaes }} ){% endif %}</span>

                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endfor %}

    {% endfor %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script>
    function clickMe(obj){
        location.href = $(obj).attr('href');
    }
</script>


{% endblock %}
