{% extends 'base.html.twig' %}

{% block nav %}
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Atalak (Euskeraz) <b
                    class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for atala in ordenantza.atalak %}
                {% if atala.utsa != 1 and atala.azpiatalak | length >0 %}
                    <li class="dropdown dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ atala.kodea }} - {{ atala.izenburuaeu|capitalize }}</a>
                        <ul class="dropdown-menu">
                            {% for azpiatala in atala.azpiatalak %}
                                <li><a href="#{{ atala.kodea ~ azpiatala.kodea }}">{{ azpiatala.kodea }} - {{ azpiatala.izenburuaeu|capitalize }}</a></li>
                            {% endfor %}
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="btnAzpiAtalBerria" data-atalaid="{{ atala.id }}" >+ Azpiatal berria</a></li>
                            <li><a href="#" class="btnAtalaparrafoBerria" data-atalaid="{{ atala.id }}" ><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Parrafo berria</a></li>
                        </ul>
                    </li>

                {% else %}
                    <li class="dropdown dropdown-submenu">
                        <a href="#{{ atala.kodea }}" class="dropdown-toggle" data-toggle="dropdown">{{ atala.kodea }} - {{ atala.izenburuaeu|capitalize }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="btnAzpiAtalBerria" data-atalaid="{{ atala.id }}" >+ Azpiatal berria</a></li>
                            <li><a href="#" class="btnAtalaparrafoBerria" data-atalaid="{{ atala.id }}" ><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Parrafo berria</a></li>
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            <li role="separator" class="divider"></li>
            <li><a href="#" data-toggle="modal" data-target="#divAtalBerria">+ Atal berria</a></li>
        </ul>
    </li>
{% endblock %}


{% block body %}
    <div class="row">&nbsp;</div>

    {#<a href="#" class="btnAtalaparrafoBerria btn btn-primary" data-atalaid="5">FROGA</a>#}


    <div class="row">
        <div class="col-xs-6">
            <h4 class="editable2" data-name="izenburuaeu" data-pk="{{ ordenantza.id }}"
                data-url="{{ path('admin_ordenantza_eguneratu', {'id': ordenantza.id}) }}" data-pk="{{ ordenantza.id }}"
                data-type="wysihtml5" tabindex="-1" style="display: block;">
                <button type="button" class="close btnEzabatu hide" data-toggle="modal"
                        data-target="#divEzabatuOrdenantza" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                {{ ordenantza.kodea ~ " " ~ ordenantza.izenburuaeu }}
            </h4>
        </div>
        <div class="col-xs-6">
            <h4 class="editable2" data-name="izenburuaes" data-pk="{{ ordenantza.id }}"
                data-url="{{ path('admin_ordenantza_eguneratu', {'id': ordenantza.id}) }}" data-pk="{{ ordenantza.id }}"
                data-type="wysihtml5" tabindex="-1" style="display: block;">
                <button type="button" class="close btnEzabatu hide" data-toggle="modal"
                        data-target="#divEzabatuOrdenantza" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                {{ ordenantza.kodea ~ " " ~ ordenantza.izenburuaes }}
            </h4>
        </div>
    </div>
    <div class="row">&nbsp;</div>

    {% for p in ordenantza.parrafoak %}
        <div class="row row{{ loop.index }}">
            <div class="col-xs-6">
                <div class="editable2" data-name="testuaeu" data-pk="{{ p.id }}"
                     data-url="{{ path('admin_ordenantza_parrafoak_eguneratu', {'id': p.id}) }}" data-type="wysihtml5"
                     tabindex="-1" style="display: block;">
                    <button type="button" class="close btnEzabatu hide" data-toggle="modal"
                            data-target="#divEzabatuOrdenantzaparrafoa{{ p.id }}" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    {{ p.testuaeu | raw }}
                    {{ render(controller('AppBundle:Ordenantzaparrafoa:ezabatu', {'id': p.id})) }}
                </div>
            </div>
            <div class="col-xs-6">
                <div class="editable2" data-name="testuaes" data-pk="{{ p.id }}"
                     data-url="{{ path('admin_ordenantza_parrafoak_eguneratu', {'id': p.id}) }}" data-type="wysihtml5"
                     tabindex="-1" style="display: block;">
                    <button type="button" class="close btnEzabatu hide" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    {{ p.testuaes | raw }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">&nbsp;</div>

        {% for atala in ordenantza.atalak %}
        {% if atala.utsa != 1 %}
            <div class="row row{{ loop.index }}">
                <div class="col-xs-6">
                    <h3 class="row-fluid col-md-12" id="{{ atala.kodea }}">
                        <span class="editable2 col-md-1 text-left" data-name="kodea" data-pk="{{ atala.id }}"
                              data-url="{{ path('admin_ordenantza_atala_eguneratu', {'id': atala.id}) }}"
                              data-type="wysihtml5" tabindex="-1" style="display: block;">
                            {{ atala.kodea }}
                        </span>
                        <span class="col-md-1 text-left">-</span>
                        <span class="editable2 col-md-10 text-left" data-name="izenburuaeu" data-pk="{{ atala.id }}"
                              data-url="{{ path('admin_ordenantza_atala_eguneratu', {'id': atala.id}) }}"
                              data-type="wysihtml5" tabindex="-1" style="display: block;">
                            {{ atala.izenburuaeu }}
                        </span>
                    </h3>
                </div>
                <div class="col-xs-6">
                    <h3 class="row-fluid col-md-12">
                        <span class="editable2 col-md-1 text-left" data-name="kodea" data-pk="{{ atala.id }}"
                              data-url="{{ path('admin_ordenantza_atala_eguneratu', {'id': atala.id}) }}"
                              data-type="wysihtml5" tabindex="-1" style="display: block;">
                            {{ atala.kodea }}
                        </span>
                        <span class="col-md-1 text-left">-</span>
                        <span class="editable2 col-md-10 text-left" data-name="izenburuaes" data-pk="{{ atala.id }}"
                              data-url="{{ path('admin_ordenantza_atala_eguneratu', {'id': atala.id}) }}"
                              data-type="wysihtml5" tabindex="-1" style="display: block;">
                            {{ atala.izenburuaes }}
                        </span>
                    </h3>
                </div>
            </div>

            {% for p in atala.parrafoak %}
                <div class="row row{{ loop.parent.loop.index }} row{{ loop.index }}">
                    <div class="editable2 col-xs-6" data-name="testuaeu" data-pk="{{ p.id }}"
                         data-url="{{ path('admin_ordenantza_atalaparrafoa_eguneratu', {'id': p.id}) }}"
                         data-type="wysihtml5" tabindex="-1" style="display: block;">
                        {{ p.testuaeu | raw }}
                    </div>
                    <div class="editable2 col-xs-6" data-name="testuaes" data-pk="{{ p.id }}"
                         data-url="{{ path('admin_ordenantza_atalaparrafoa_eguneratu', {'id': p.id}) }}"
                         data-type="wysihtml5" tabindex="-1" style="display: block;">
                        {{ p.testuaes | raw }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {# Naiz eta Atalik ez izan, azpiatalak izan ditzake. Atala utsa=1 delarik:#}

        {% for azpiatala in atala.azpiatalak %}
            {% for p in azpiatala.parrafoak %}
                <div class="row row{{ loop.parent.loop.index }} row{{ loop.index }}">
                    <div class="col-xs-6 editable2" data-name="testuaeu" data-pk="{{ p.id }}"
                         data-url="{{ path('admin_ordenantza_azpiatalaparrafoa_eguneratu', {'id': p.id}) }}"
                         data-type="wysihtml5" tabindex="-1" style="display: block;">
                        {{ p.testuaeu | raw }}
                    </div>
                    <div class="col-xs-6 editable2" data-name="testuaes" data-pk="{{ p.id }}"
                         data-url="{{ path('admin_ordenantza_azpiatalaparrafoa_eguneratu', {'id': p.id}) }}"
                         data-type="wysihtml5" tabindex="-1" style="display: block;">
                        {{ p.testuaes | raw }}
                    </div>
                </div>
            {% endfor %}

            <table class="table table-hover table-responsive table-bordered table-striped">
                <th class="row-fluid col-xs-6" id="{{ atala.kodea ~ azpiatala.kodea }}">
                    <span class="editable2 col-md-1 text-left" data-name="kodea" data-pk="{{ azpiatala.id }}"
                          data-url="{{ path('admin_ordenantza_azpiatala_eguneratu', {'id': azpiatala.id}) }}"
                          data-type="wysihtml5" tabindex="-1" style="display: block;">
                        {{ azpiatala.kodea }}
                    </span>
                    <span class="col-md-1 text-left">-</span>
                    <span class="editable2 col-md-10 text-left" data-name="izenburuaeu" data-pk="{{ azpiatala.id }}"
                          data-url="{{ path('admin_ordenantza_azpiatala_eguneratu', {'id': azpiatala.id}) }}"
                          data-type="wysihtml5" tabindex="-1" style="display: block;">
                        {{ azpiatala.izenburuaeu }}
                    </span>
                </th>
                <th></th>
                <th></th>
                <th class="row-fluid col-xs-6">
                    <span class="editable2 col-md-1 text-left" data-name="kodea" data-pk="{{ azpiatala.id }}"
                          data-url="{{ path('admin_ordenantza_azpiatala_eguneratu', {'id': azpiatala.id}) }}"
                          data-type="wysihtml5" tabindex="-1" style="display: block;">
                        {{ azpiatala.kodea }}
                    </span>
                    <span class="col-md-1 text-left">-</span>
                    <span class="editable2 col-md-10 text-left" data-name="izenburuaes" data-pk="{{ azpiatala.id }}"
                          data-url="{{ path('admin_ordenantza_azpiatala_eguneratu', {'id': azpiatala.id}) }}"
                          data-type="wysihtml5" tabindex="-1" style="display: block;">
                        {{ azpiatala.izenburuaes }}
                    </span>
                </th>
                <tbody>
                {% for k in azpiatala.kontzeptuak %}
                    <tr>
                        <td class="col-md-4">
                            <div href="#" class="editable2 text-left" data-name="kontzeptuaeu" data-pk="{{ k.id }}"
                                 data-url="{{ path('admin_ordenantza_azpiatalakontzeptua_eguneratu', {'id': k.id}) }}"
                                 data-type="wysihtml5">
                                {{ k.kontzeptuaeu }}
                            </div>
                        </td>
                        <td>
                            <div class="editable-popup text-left" data-name="kopurua" data-pk="{{ k.id }}"
                                 data-url="{{ path('admin_ordenantza_azpiatalakontzeptua_eguneratu', {'id': k.id}) }}"
                                 data-type="wysihtml5" tabindex="-1" style="display: block;">
                                {{ k.kopurua }}
                            </div>
                        <td>
                            <div class="editable-popup text-left" data-name="unitatea" data-pk="{{ k.id }}"
                                 data-url="{{ path('admin_ordenantza_azpiatalakontzeptua_eguneratu', {'id': k.id}) }}"
                                 data-type="wysihtml5" tabindex="-1" style="display: block;">
                                &nbsp;{{ k.unitatea }}
                            </div>
                        </td>
                        <td class="col-md-5">
                            <div id="iepa" class="editable2 text-left" data-name="kontzeptuaeu" data-pk="{{ k.id }}"
                                 data-url="{{ path('admin_ordenantza_azpiatalakontzeptua_eguneratu', {'id': k.id}) }}"
                                 data-type="wysihtml5" tabindex="-1" style="display: block;">
                                {{ k.kontzeptuaes }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endfor %}

    {% endfor %}
    <div style="display: none;">
        <label for="isAdmin">IsAdmin</label><input id="isAdmin" type="text"
                                                   value="{% if is_granted("ROLE_ADMIN") %}1{% else %}0{% endif %}">
    </div>



    {#
    Insert formularioak
    #}
    <div id="divAtalBerria" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        {{ render(controller('AppBundle:Atala:new', {'ordenantzaid': ordenantza.id })) }}
    </div>

    <div id="divOrdenantzaparrafoBerria" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        {{ render(controller('AppBundle:Ordenantzaparrafoa:new', {'ordenantzaid': ordenantza.id })) }}
    </div>

    <div id="divAzpiAtalBerria" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    </div>



    {#
    Ezabatze formularioak
    #}
    <div id="divEzabatuOrdenantza" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(delete_form) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ordenantza ezabatu</h4>
                </div>
                <div class="modal-body">
                    <p>Ziur zaude ezabatu nahi duzula?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ezeztatu</button>
                    <button type="submit" class="btn btn-primary">Baiezabatu</button>
                </div>
                <div style="display: none;">{{ form_end(delete_form) }}</div>
            </div>
        </div>
    </div>

    <div id="divAtalaparrafoBerria" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {

            $('.btnAtalaparrafoBerria').on("click", function(e){
                $('#divAtalaparrafoBerria').empty();
                var miid = $(this).data('atalaid');
                var url = Routing.generate('admin_atalaparrafoa_new', { atalaid: miid });
                $('#divAtalaparrafoBerria').load(url);
                $('#divAtalaparrafoBerria').modal('toggle');
            });

            $('.btnAzpiAtalBerria').on("click", function(e){
                $('#divAzpiAtalBerria').empty();
                var miid = $(this).data('atalaid');
                var url = Routing.generate('admin_azpiatala_new', { atalaid: miid });
                $('#divAzpiAtalBerria').load(url);
                $('#divAzpiAtalBerria').modal('toggle');
            });

            $.fn.editable.defaults.mode = 'inline';
            var isAdmin = $('#isAdmin').val();

            if (isAdmin === "0") {
                $('.editable').editable('toggleDisabled');
                $('.editable2').editable('toggleDisabled');
            } else {
                $('.editable').editable();
                $('.editable2').on('mouseover', function () {
                    $(this).addClass('gainean');
                    $(this).find('.btnEzabatu').removeClass('hide');
                })
                .on('mouseleave', function () {
                    $(this).removeClass('gainean');
                    $(this).children('.btnEzabatu').addClass('hide');
                }).editable({
                    toggle: 'dblclick',
                    title: 'Enter comments',
                    showbuttons: 'top',
                    onblur: 'ignore',
                    inputclass: 'editable-buttons-ezker',
                    wysihtml5: {
                        "image": false,
                        "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
                        "emphasis": true, //Italics, bold, etc. Default true
                        "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                        "html": false, //Button which allows you to edit the generated HTML. Default false
                        "link": false, //Button to insert a link. Default true
                    }
                });

                $('.editable-popup').on('mouseover', function () {
                    $(this).addClass('gainean');
                })
                .on('mouseleave', function () {
                    $(this).removeClass('gainean');
                }).editable({
                    mode: 'popup',
                    title: 'Enter comments',
                    showbuttons: 'top',
                    onblur: 'ignore',
                    inputclass: 'editable-buttons-ezker',
                    wysihtml5: {
                        "image": false,
                        "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
                        "emphasis": true, //Italics, bold, etc. Default true
                        "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                        "html": false, //Button which allows you to edit the generated HTML. Default false
                        "link": false, //Button to insert a link. Default true
                    }
                });
            }
        });
    </script>


{% endblock %}

