<div style="margin: auto;">
    <h1 style="text-align: center;">ZERGA ORDENANTZAK {{ eguna }}</h1>

    <div style="width: 100%; align-content: center; text-align: center;">
        <img style=": center" src="{{ udala.logoa }}" alt="Pasaiako Udala logoa"/>
    </div>

    <h3 style="text-align:center">{{ udala.izendapenaeu }}</h3>

</div>
<p style="margin-bottom: 0cm; line-height: 100%; page-break-before: always"></p>
{% for ordenantza in ordenantzas %}
<h2 style="text-align: left;">{{ ordenantza.kodea ~ ".-" ~ ordenantza.izenburuaeu |striptags|raw|nl2br}}</h2>

{% for p in ordenantza.parrafoak if p.ezabatu != 1 %}
    <p style="text-align: left;">{{ p.testuaeu  |striptags|raw | nl2br }}</p>
{% endfor %}
    {% for atala in ordenantza.atalak if atala.ezabatu!= 1 %}
        {% if atala.utsa != 1 %}
            <h3>{{ atala.ordenantza.kodea }}.{{ atala.kodea }}.- {{ atala.izenburuaeu }}</h3>
            {% for p in atala.parrafoak  if p.ezabatu!= 1 %}
                <p>{{ p.testuaeu | raw }}</p>
            {% endfor %}
        {% endif %}

        {% for azpiatala in atala.azpiatalak  if azpiatala.ezabatu!= 1 %}

            <table width="100%" cellpadding="4" cellspacing="0" border="0">
                <tr valign="top">
                    <td width="100%" style="border: 1px solid #000000; padding: 0.2cm;">
                        <p align="left">{{ azpiatala.kodea | replace({'<br>': ''})}} - {{ azpiatala.izenburuaeu | replace({'<br>': '', '<span>':'', '</span>':'', '&nbsp;':' '}) }}</p>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                {% for p in azpiatala.parrafoak  if p.ezabatu!= 1 %}
                    <tr valign="top">
                        <td align="left" style="font-size: small;">
                            {{ p.testuaeu | raw }}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <center>
                            <table width="80%" cellpadding="4" cellspacing="0" style="border: 1px solid black;border-collapse: collapse;">
                                {% for k in azpiatala.kontzeptuak  if k.ezabatu!= 1 %}
                                    <tr valign="top" style="border: 1px solid black;">
                                        <td width="75%" style="padding: 0cm 0.2cm 0.2cm;border: 1px solid black;">
                                            <p align="left">{{ k.kontzeptuaeu }}&nbsp;{% if k.baldintza %} ( {{ k.baldintza.baldintzaeu }} ){% endif %}</p>
                                        </td>
                                        <td width="25%" style="padding: 0cm 0.2cm 0.2cm;border: 1px solid black;">
                                            <p align="right">{{ k.kopurua }} {{ k.unitatea }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </center>
                        <br/>
                    </td>
                </tr>
                {% for p in azpiatala.parrafoakondoren  if p.ezabatu!= 1 %}
                    <tr valign="top">
                        <td align="left">
                            {{ p.testuaeu | raw }}
                        </td>
                    </tr>
                {% endfor %}
            </table>


        {% endfor %}
    {% endfor %}

<p style="margin-bottom: 0cm; line-height: 100%"><br/>
    {% endfor %}
