{% extends 'base.html.twig' %}
{% block navright %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="document.forms['{{ edit_form.vars.name }}'].submit()" class="fa fa-floppy-o"> Gorde</a></li>
        <li><a href="{{ path('udala_index') }}" class="fa fa-undo"> Zerrendara itzuli</a></li>
        <li>&nbspp;</li>
    </ul>
{% endblock %}


{% block body %}
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-sm-2">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="form-group">
                    <label class="control-label">Kodea:</label>
                    {{ form_errors(edit_form.kodea) }}
                    {{ form_widget(edit_form.kodea, {'attr': {'class': 'form-control'}}) }}
                </div>

            {% else %}
                <div class="form-group">
                    <label class="control-label">Kodea:</label>
                    {{ form_errors(edit_form.kodea) }}
                    {{ form_widget(edit_form.kodea, {'attr': {'class': 'form-control','readonly': 'true'}}) }}
                </div>
            {% endif %}


        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">IKF/CIF:</label>
                {{ form_errors(edit_form.ifk) }}
                {{ form_widget(edit_form.ifk, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
        {#<div class="col-sm-3">#}
            {#<div class="form-group">#}
                {#<label class="control-label">Orrikatzeko lerro kopurua:</label>#}
                {#{{ form_errors(edit_form.orrikatzea) }}#}
                {#{{ form_widget(edit_form.orrikatzea, {'attr': {'class': 'form-control'}}) }}#}
            {#</div>#}
        {#</div>#}

        {#<div class="col-sm-5">#}
            {#<div class="form-group">#}
                {#<label class="control-label">Espediente kudeaketa:</label>#}
                {#{{ form_errors(edit_form.espedientekudeaketa) }}#}
                {#{{ form_widget(edit_form.espedientekudeaketa, {'attr': {'class': 'c-checkbox'}}) }}#}
            {#</div>#}
        {#</div>#}
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Izena (eu):</label>
                {{ form_errors(edit_form.izenaeu) }}
                {{ form_widget(edit_form.izenaeu, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Izena (es):</label>
                {{ form_errors(edit_form.izenaes) }}
                {{ form_widget(edit_form.izenaes, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Izendapena (eu):</label>
                {{ form_errors(edit_form.izendapenaeu) }}
                {{ form_widget(edit_form.izendapenaeu, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Izendapena (es):</label>
                {{ form_errors(edit_form.izendapenaes) }}
                {{ form_widget(edit_form.izendapenaes, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
    </div>

    {#<div class="row">#}
        {#<div class="col-sm-6">#}
            {#<div class="form-group">#}
                {#<label class="control-label">LOPD txantilla (eu):</label>#}
                {#{{ form_errors(edit_form.lopdeu) }}#}
                {#{{ form_widget(edit_form.lopdeu, {'attr': {'class': 'c-checkbox'}}) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-sm-6">#}
            {#<div class="form-group">#}
                {#<label class="control-label">LOPD txantilla (es):</label>#}
                {#{{ form_errors(edit_form.lopdes) }}#}
                {#{{ form_widget(edit_form.lopdes, {'attr': {'class': 'c-checkbox'}}) }}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group">
                <label class="control-label">Logoa:</label>
                {{ form_errors(edit_form.logoa) }}
                {{ form_widget(edit_form.logoa, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
    </div>

    {#<div class="row">#}
        {#<div class="col-sm-10">#}
            {#<div class="form-group">#}
                {#<label class="control-label">Logoa:</label>#}
                {#{{ form_errors(edit_form.zergaor) }}#}
                {#{{ form_widget(edit_form.zergaor, {'attr': {'class': 'c-checkbox'}}) }}#}
                {#Zerga ordenantzen aplikazioa erabiltzen du?#}
            {#</div>#}
        {#</div>#}
    {#</div>#}


    {#<div class="hidden">#}
    {{ form_end(edit_form) }}
    {#</div>#}
{% endblock %}
