{% extends 'base.html.twig' %}
{% block navright %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('udala_new') }}" class="fa fa-plus"> Udal berria</a></li>
        <li>&nbspp;</li>
    </ul>
{% endblock %}


{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Kodea</th>
            <th>Ifk</th>
            <th>Udala</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for udala in udalas %}
            <tr>
                <td>{{ udala.kodea }}</td>
                <td>{{ udala.ifk }}</td>
                <td>{{ udala.izenaeu }}</td>
                <td>{{ udala.izendapenaeu }}</td>
                <td NOWRAP class="text-right">
                    <ul class="list-inline">
                        <li><a href="{{ path('udala_show', { 'id': udala.id }) }}" class="fa fa-search"></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            {#<li>{{ form_start(deleteforms[udala.id],{'attr': {'id': udala.id}}) }}#}
                            {#<a href="#" onclick="document.getElementById({{ udala.id }}).submit();" ><i class="fa fa-trash text-danger"></i></a>#}
                            {#{{ form_end(deleteforms[udala.id]) }}</li>#}
                            <li>{{ form_start(deleteforms[udala.id],{'attr': {'id': udala.id}}) }}
                                <a href="#" onclick="ezabatu({{ udala.id }});" ><i class="fa fa-trash text-danger"></i></a>
                                {{ form_end(deleteforms[udala.id]) }}</li>
                        {% endif %}

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {% if udalas is not empty %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'routeName': 'udala_index_paginated'}) }}
            {% endif %}
        {% else %}
            <p>Ez da emaitzarik topatu</p>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function ezabatu (id)
        {
            var r = confirm("Udala EZABATU. Ziur zaude? Ekintza honek udalaren erregistro guztiak ezabatuko ditu!!");
            if (r == true)
            {
                document.getElementById(id).submit()
            }else
            {
            }
        };
    </script>
{% endblock %}