{% extends 'base.html.twig' %}
{% block navright %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="document.forms['{{ form.vars.name }}'].submit()" class="fa fa-floppy-o"> Gorde</a></li>
        <li><a href="{{ path('udala_index') }}" class="fa fa-undo"> Utzi</a></li>
        <li>&nbspp;</li>
    </ul>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Kodea:</label>
                {{ form_errors(form.kodea) }}
                {{ form_widget(form.kodea, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">IKF/CIF:</label>
                {{ form_errors(form.ifk) }}
                {{ form_widget(form.ifk, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
        {#<div class="col-sm-3">#}
            {#<div class="form-group">#}
                {#<label class="control-label">Orrikatzeko lerro kopurua:</label>#}
                {#{{ form_errors(form.orrikatzea) }}#}
                {#{{ form_widget(form.orrikatzea, {'attr': {'class': 'form-control'}}) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-sm-5">#}
            {#<div class="form-group">#}
                {#<label class="control-label">Espediente kudeaketa:</label>#}
                {#{{ form_errors(form.espedientekudeaketa) }}#}
                {#{{ form_widget(form.espedientekudeaketa, {'attr': {'class': 'c-checkbox'}}) }}#}
            {#</div>#}
        {#</div>#}
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Izena (eu):</label>
                {{ form_errors(form.izenaeu) }}
                {{ form_widget(form.izenaeu, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Izena (es):</label>
                {{ form_errors(form.izenaes) }}
                {{ form_widget(form.izenaes, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Izendapena (eu):</label>
                {{ form_errors(form.izendapenaeu) }}
                {{ form_widget(form.izendapenaeu, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Izendapena (es):</label>
                {{ form_errors(form.izendapenaes) }}
                {{ form_widget(form.izendapenaes, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
    </div>

    {#<div class="row">#}
        {#<div class="col-sm-6">#}
            {#<div class="form-group">#}
                {#<label class="control-label">LOPD txantilla (eu):</label>#}
                {#{{ form_errors(form.lopdeu) }}#}
                {#{{ form_widget(form.lopdeu, {'attr': {'class': 'c-checkbox'}}) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-sm-6">#}
            {#<div class="form-group">#}
                {#<label class="control-label">LOPD txantilla (es):</label>#}
                {#{{ form_errors(form.lopdes) }}#}
                {#{{ form_widget(form.lopdes, {'attr': {'class': 'c-checkbox'}}) }}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group">
                <label class="control-label">Logoa:</label>
                {{ form_errors(form.logoa) }}
                {{ form_widget(form.logoa, {'attr': {'class': 'c-checkbox'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}