{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordenantzaparrafoa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordenantzaparrafoa.id }}</td>
            </tr>
            <tr>
                <th>Ordena</th>
                <td>{{ ordenantzaparrafoa.ordena }}</td>
            </tr>
            <tr>
                <th>Testuaeu</th>
                <td>{{ ordenantzaparrafoa.testuaeu }}</td>
            </tr>
            <tr>
                <th>Testuaes</th>
                <td>{{ ordenantzaparrafoa.testuaes }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if ordenantzaparrafoa.createdAt %}{{ ordenantzaparrafoa.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if ordenantzaparrafoa.updatedAt %}{{ ordenantzaparrafoa.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_ordenantzaparrafoa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_ordenantzaparrafoa_edit', { 'id': ordenantzaparrafoa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
