{% extends 'base.html.twig' %}

{% block body %}
    <h1>Azpiatalaparrafoaondoren</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ azpiatalaparrafoaondoren.id }}</td>
            </tr>
            <tr>
                <th>Ordena</th>
                <td>{{ azpiatalaparrafoaondoren.ordena }}</td>
            </tr>
            <tr>
                <th>Ordena_prod</th>
                <td>{{ azpiatalaparrafoaondoren.ordenaprod }}</td>
            </tr>
            <tr>
                <th>Testuaeu</th>
                <td>{{ azpiatalaparrafoaondoren.testuaeu }}</td>
            </tr>
            <tr>
                <th>Testuaeu_prod</th>
                <td>{{ azpiatalaparrafoaondoren.testuaeuprod }}</td>
            </tr>
            <tr>
                <th>Testuaes</th>
                <td>{{ azpiatalaparrafoaondoren.testuaes }}</td>
            </tr>
            <tr>
                <th>Testuaes_prod</th>
                <td>{{ azpiatalaparrafoaondoren.testuaesprod }}</td>
            </tr>
            <tr>
                <th>Ezabatu</th>
                <td>{% if azpiatalaparrafoaondoren.ezabatu %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if azpiatalaparrafoaondoren.createdAt %}{{ azpiatalaparrafoaondoren.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if azpiatalaparrafoaondoren.updatedAt %}{{ azpiatalaparrafoaondoren.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_azpiatalaparrafoaondoren_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_azpiatalaparrafoaondoren_edit', { 'id': azpiatalaparrafoaondoren.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
