<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Familia / Azpifamilia ordena</h4>
</div>
<div class="modal-body">


    <div class="row">
        <div class="col-sm-12">
            {{ form_label(edit_form.baldintzaeu) }}
            {{ form_widget(edit_form.baldintzaeu) }}
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-sm-12">
            {{ form_label(edit_form.baldintzaes) }}
            {{ form_widget(edit_form.baldintzaes) }}
        </div>
    </div>

</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ezeztatu</button>
        <button type="submit" class="btn btn-primary">Gorde</button>
    </div>
</div>
<div style="display: none;">
    {{ form_end(edit_form) }}
</div>