{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kontzeptua list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Kodea</th>
                <th>Kontzeptuaeu</th>
                <th>Kontzeptuaes</th>
                <th>Kopurua</th>
                <th>Unitatea</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kontzeptua in kontzeptuas %}
            <tr>
                <td><a href="{{ path('admin_kontzeptua_show', { 'id': kontzeptua.id }) }}">{{ kontzeptua.id }}</a></td>
                <td>{{ kontzeptua.kodea }}</td>
                <td>{{ kontzeptua.kontzeptuaeu }}</td>
                <td>{{ kontzeptua.kontzeptuaes }}</td>
                <td>{{ kontzeptua.kopurua }}</td>
                <td>{{ kontzeptua.unitatea }}</td>
                <td>{% if kontzeptua.createdAt %}{{ kontzeptua.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if kontzeptua.updatedAt %}{{ kontzeptua.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_kontzeptua_show', { 'id': kontzeptua.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_kontzeptua_edit', { 'id': kontzeptua.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_kontzeptua_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
